<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>c_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{347,811},{39,55}}</string>
			<key>offset</key>
			<string>{-3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,0},{39,55}}</string>
			<key>sourceSize</key>
			<string>{75,55}</string>
		</dict>
		<key>c_15pack.png</key>
		<dict>
			<key>frame</key>
			<string>{{220,586},{216,223}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,0},{216,223}}</string>
			<key>sourceSize</key>
			<string>{250,223}</string>
		</dict>
		<key>c_15pack_p.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,586},{216,223}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,0},{216,223}}</string>
			<key>sourceSize</key>
			<string>{250,223}</string>
		</dict>
		<key>c_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{49,941},{45,55}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,0},{45,55}}</string>
			<key>sourceSize</key>
			<string>{75,55}</string>
		</dict>
		<key>c_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,941},{45,55}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{14,0},{45,55}}</string>
			<key>sourceSize</key>
			<string>{75,55}</string>
		</dict>
		<key>c_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{141,941},{39,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,0},{39,55}}</string>
			<key>sourceSize</key>
			<string>{75,55}</string>
		</dict>
		<key>c_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,941},{43,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{16,0},{43,55}}</string>
			<key>sourceSize</key>
			<string>{75,55}</string>
		</dict>
		<key>c_5pack.png</key>
		<dict>
			<key>frame</key>
			<string>{{638,586},{198,223}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,0},{198,223}}</string>
			<key>sourceSize</key>
			<string>{250,223}</string>
		</dict>
		<key>c_5pack_p.png</key>
		<dict>
			<key>frame</key>
			<string>{{438,586},{198,223}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,0},{198,223}}</string>
			<key>sourceSize</key>
			<string>{250,223}</string>
		</dict>
		<key>c_caption.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{832,582}}</string>
			<key>offset</key>
			<string>{11,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{107,98},{832,582}}</string>
			<key>sourceSize</key>
			<string>{1024,768}</string>
		</dict>
		<key>c_carrot.png</key>
		<dict>
			<key>frame</key>
			<string>{{888,516},{20,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{20,35}}</string>
			<key>sourceSize</key>
			<string>{20,35}</string>
		</dict>
		<key>c_coin.png</key>
		<dict>
			<key>frame</key>
			<string>{{196,811},{149,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{149,150}}</string>
			<key>sourceSize</key>
			<string>{149,152}</string>
		</dict>
		<key>c_coin_p.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,720},{149,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{149,150}}</string>
			<key>sourceSize</key>
			<string>{149,152}</string>
		</dict>
		<key>c_ads.png</key>
		<dict>
			<key>frame</key>
			<string>{{838,566},{149,152}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,152}}</string>
			<key>sourceSize</key>
			<string>{149,152}</string>
		</dict>
		<key>c_ads_p.png</key>
		<dict>
			<key>frame</key>
			<string>{{836,362},{149,152}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{149,152}}</string>
			<key>sourceSize</key>
			<string>{149,152}</string>
		</dict>
		<key>c_pack.png</key>
		<dict>
			<key>frame</key>
			<string>{{836,182},{154,178}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,0},{154,178}}</string>
			<key>sourceSize</key>
			<string>{200,178}</string>
		</dict>
		<key>c_pack_p.png</key>
		<dict>
			<key>frame</key>
			<string>{{836,2},{154,178}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{22,0},{154,178}}</string>
			<key>sourceSize</key>
			<string>{200,178}</string>
		</dict>
		<key>c_shadow.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,811},{192,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{192,128}}</string>
			<key>sourceSize</key>
			<string>{192,128}</string>
		</dict>
		<key>c_x.png</key>
		<dict>
			<key>frame</key>
			<string>{{836,516},{50,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,48}}</string>
			<key>sourceSize</key>
			<string>{50,48}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>continueAtl-hd.png</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d41033771e9b43ee31ffe2d4d96888dc:020d3e4b8b179ee5561ad131f84b2848:451d321b93966f5af1d9a36d0377841f$</string>
		<key>textureFileName</key>
		<string>continueAtl-hd.png</string>
	</dict>
</dict>
</plist>
