<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>c_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,410},{18,28}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,0},{18,28}}</string>
			<key>sourceSize</key>
			<string>{38,28}</string>
		</dict>
		<key>c_15pack.png</key>
		<dict>
			<key>frame</key>
			<string>{{113,296},{109,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{109,112}}</string>
			<key>sourceSize</key>
			<string>{125,112}</string>
		</dict>
		<key>c_15pack_p.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,296},{109,112}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{109,112}}</string>
			<key>sourceSize</key>
			<string>{125,112}</string>
		</dict>
		<key>c_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{50,476},{22,28}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,0},{22,28}}</string>
			<key>sourceSize</key>
			<string>{38,28}</string>
		</dict>
		<key>c_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{26,476},{22,28}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,0},{22,28}}</string>
			<key>sourceSize</key>
			<string>{38,28}</string>
		</dict>
		<key>c_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{74,476},{20,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,0},{20,28}}</string>
			<key>sourceSize</key>
			<string>{38,28}</string>
		</dict>
		<key>c_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,476},{22,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{22,28}}</string>
			<key>sourceSize</key>
			<string>{38,28}</string>
		</dict>
		<key>c_5pack.png</key>
		<dict>
			<key>frame</key>
			<string>{{327,296},{101,112}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,0},{101,112}}</string>
			<key>sourceSize</key>
			<string>{125,112}</string>
		</dict>
		<key>c_5pack_p.png</key>
		<dict>
			<key>frame</key>
			<string>{{224,296},{101,112}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,0},{101,112}}</string>
			<key>sourceSize</key>
			<string>{125,112}</string>
		</dict>
		<key>c_caption.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{416,292}}</string>
			<key>offset</key>
			<string>{6,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{54,48},{416,292}}</string>
			<key>sourceSize</key>
			<string>{512,384}</string>
		</dict>
		<key>c_carrot.png</key>
		<dict>
			<key>frame</key>
			<string>{{447,262},{10,18}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,18}}</string>
			<key>sourceSize</key>
			<string>{10,18}</string>
		</dict>
		<key>c_coin.png</key>
		<dict>
			<key>frame</key>
			<string>{{100,410},{75,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,76}}</string>
			<key>sourceSize</key>
			<string>{75,76}</string>
		</dict>
		<key>c_coin_p.png</key>
		<dict>
			<key>frame</key>
			<string>{{430,366},{75,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,76}}</string>
			<key>sourceSize</key>
			<string>{75,76}</string>
		</dict>
		<key>c_ads.png</key>
		<dict>
			<key>frame</key>
			<string>{{430,288},{75,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,76}}</string>
			<key>sourceSize</key>
			<string>{75,76}</string>
		</dict>
		<key>c_ads_p.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,184},{75,76}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{75,76}}</string>
			<key>sourceSize</key>
			<string>{75,76}</string>
		</dict>
		<key>c_pack.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,93},{78,89}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,0},{78,89}}</string>
			<key>sourceSize</key>
			<string>{100,89}</string>
		</dict>
		<key>c_pack_p.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,2},{78,89}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,0},{78,89}}</string>
			<key>sourceSize</key>
			<string>{100,89}</string>
		</dict>
		<key>c_shadow.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,410},{96,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{96,64}}</string>
			<key>sourceSize</key>
			<string>{96,64}</string>
		</dict>
		<key>c_x.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,262},{25,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,24}}</string>
			<key>sourceSize</key>
			<string>{25,24}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>continueAtl.png</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:d41033771e9b43ee31ffe2d4d96888dc:020d3e4b8b179ee5561ad131f84b2848:451d321b93966f5af1d9a36d0377841f$</string>
		<key>textureFileName</key>
		<string>continueAtl.png</string>
	</dict>
</dict>
</plist>
