<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>c_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1958,704},{68,108}}</string>
			<key>offset</key>
			<string>{-6,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,2},{68,108}}</string>
			<key>sourceSize</key>
			<string>{150,110}</string>
		</dict>
		<key>c_15pack.png</key>
		<dict>
			<key>frame</key>
			<string>{{428,1265},{424,446}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,0},{424,446}}</string>
			<key>sourceSize</key>
			<string>{500,446}</string>
		</dict>
		<key>c_15pack_p.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1265},{424,446}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{38,0},{424,446}}</string>
			<key>sourceSize</key>
			<string>{500,446}</string>
		</dict>
		<key>c_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1958,260},{82,110}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{33,0},{82,110}}</string>
			<key>sourceSize</key>
			<string>{150,110}</string>
		</dict>
		<key>c_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1958,372},{80,110}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{34,0},{80,110}}</string>
			<key>sourceSize</key>
			<string>{150,110}</string>
		</dict>
		<key>c_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1958,594},{68,108}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{43,1},{68,108}}</string>
			<key>sourceSize</key>
			<string>{150,110}</string>
		</dict>
		<key>c_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1958,484},{80,108}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{35,0},{80,108}}</string>
			<key>sourceSize</key>
			<string>{150,110}</string>
		</dict>
		<key>c_5pack.png</key>
		<dict>
			<key>frame</key>
			<string>{{1248,1158},{392,446}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{57,0},{392,446}}</string>
			<key>sourceSize</key>
			<string>{500,446}</string>
		</dict>
		<key>c_5pack_p.png</key>
		<dict>
			<key>frame</key>
			<string>{{854,1265},{392,446}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{57,0},{392,446}}</string>
			<key>sourceSize</key>
			<string>{500,446}</string>
		</dict>
		<key>c_caption.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{1654,1154}}</string>
			<key>offset</key>
			<string>{23,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{220,202},{1654,1154}}</string>
			<key>sourceSize</key>
			<string>{2048,1536}</string>
		</dict>
		<key>c_carrot.png</key>
		<dict>
			<key>frame</key>
			<string>{{1958,814},{40,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{40,68}}</string>
			<key>sourceSize</key>
			<string>{40,70}</string>
		</dict>
		<key>c_coin.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,1713},{298,298}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{298,298}}</string>
			<key>sourceSize</key>
			<string>{298,304}</string>
		</dict>
		<key>c_coin_p.png</key>
		<dict>
			<key>frame</key>
			<string>{{302,1713},{298,298}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{298,298}}</string>
			<key>sourceSize</key>
			<string>{298,304}</string>
		</dict>
		<key>c_ads.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1713},{298,301}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{298,301}}</string>
			<key>sourceSize</key>
			<string>{298,305}</string>
		</dict>
		<key>c_ads_p.png</key>
		<dict>
			<key>frame</key>
			<string>{{1658,962},{298,301}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{298,301}}</string>
			<key>sourceSize</key>
			<string>{298,305}</string>
		</dict>
		<key>c_pack.png</key>
		<dict>
			<key>frame</key>
			<string>{{1658,611},{298,349}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{51,1},{298,349}}</string>
			<key>sourceSize</key>
			<string>{400,355}</string>
		</dict>
		<key>c_pack_p.png</key>
		<dict>
			<key>frame</key>
			<string>{{1658,260},{298,349}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{51,1},{298,349}}</string>
			<key>sourceSize</key>
			<string>{400,355}</string>
		</dict>
		<key>c_shadow.png</key>
		<dict>
			<key>frame</key>
			<string>{{1658,2},{384,256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{384,256}}</string>
			<key>sourceSize</key>
			<string>{384,256}</string>
		</dict>
		<key>c_x.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1158},{99,95}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,95}}</string>
			<key>sourceSize</key>
			<string>{99,95}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>continueAtl-ipadhd.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:013c0d0db5c90fb50c54383da006fd1e:6cbae68c50f28fe840701bf3bb2822c0:cb6f4b543c4974ca42930e36b99af3c2$</string>
		<key>textureFileName</key>
		<string>continueAtl-ipadhd.png</string>
	</dict>
</dict>
</plist>
