<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>15pack.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,440},{458,436}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{458,436}}</string>
                <key>sourceSize</key>
                <string>{500,446}</string>
            </dict>
            <key>15pack_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{458,436}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{458,436}}</string>
                <key>sourceSize</key>
                <string>{500,446}</string>
            </dict>
            <key>30pack.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{464,436}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{464,436}}</string>
                <key>sourceSize</key>
                <string>{500,446}</string>
            </dict>
            <key>30pack_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{464,436}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{464,436}}</string>
                <key>sourceSize</key>
                <string>{500,446}</string>
            </dict>
            <key>5pack.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,878},{444,434}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{444,434}}</string>
                <key>sourceSize</key>
                <string>{500,446}</string>
            </dict>
            <key>5pack_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{444,434}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,5},{444,434}}</string>
                <key>sourceSize</key>
                <string>{500,446}</string>
            </dict>
            <key>c_carrot.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,2},{40,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{40,68}}</string>
                <key>sourceSize</key>
                <string>{40,70}</string>
            </dict>
            <key>cp_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1314},{384,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,256}}</string>
                <key>sourceSize</key>
                <string>{384,256}</string>
            </dict>
            <key>cp_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,440},{99,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,95}}</string>
                <key>sourceSize</key>
                <string>{99,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>continuePackAtl-ipadhd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83f6e44894c7919c60d136c8e8fe276e:fa6c24efb841359bc80aff63b7370398:9a12ca1958c6036dfe5fc8e923ff3825$</string>
            <key>textureFileName</key>
            <string>continuePackAtl-ipadhd.png</string>
        </dict>
    </dict>
</plist>
