<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>15pack.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,114},{115,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{115,110}}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>15pack_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{115,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{115,110}}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>30pack.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{117,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{117,110}}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>30pack_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{117,110}}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>5pack.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,226},{111,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{111,110}}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>5pack_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{111,110}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{111,110}}</string>
                <key>sourceSize</key>
                <string>{125,112}</string>
            </dict>
            <key>c_carrot.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{10,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,18}}</string>
                <key>sourceSize</key>
                <string>{10,18}</string>
            </dict>
            <key>cp_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>cp_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,226},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,24}}</string>
                <key>sourceSize</key>
                <string>{25,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>continuePackAtl.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9496022233430ac85ca036d5c719f714:26574750a00c8ca3b1ccb341cf1481fc:ff2fa3a0ecc3e815fbfa29baa8929907$</string>
            <key>textureFileName</key>
            <string>continuePackAtl.png</string>
        </dict>
    </dict>
</plist>
