<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,290},{131,132}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,13},{131,132}}</string>
                <key>sourceSize</key>
                <string>{343,152}</string>
            </dict>
            <key>d_back_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,156},{131,132}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,13},{131,132}}</string>
                <key>sourceSize</key>
                <string>{343,152}</string>
            </dict>
            <key>d_easy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{566,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,144}}</string>
                <key>sourceSize</key>
                <string>{566,144}</string>
            </dict>
            <key>d_hard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{566,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,144}}</string>
                <key>sourceSize</key>
                <string>{566,144}</string>
            </dict>
            <key>d_hard_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{566,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,144}}</string>
                <key>sourceSize</key>
                <string>{566,144}</string>
            </dict>
            <key>d_leaderboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,156},{150,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{150,152}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>d_leaderboard_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,132},{150,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{150,152}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>d_leaderboard_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{150,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{150,152}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>d_medium.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{566,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,144}}</string>
                <key>sourceSize</key>
                <string>{566,144}</string>
            </dict>
            <key>d_medium_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{566,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,144}}</string>
                <key>sourceSize</key>
                <string>{566,144}</string>
            </dict>
            <key>d_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{192,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,128}}</string>
                <key>sourceSize</key>
                <string>{192,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>difficultyAtl-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e1ce80e04ceefa8c8d935642c372880:e7f4bf42542a2b18d92ef58afcdb115c:023d40b7c3772c28211f396838af7f0b$</string>
            <key>textureFileName</key>
            <string>difficultyAtl-hd.png</string>
        </dict>
    </dict>
</plist>
