<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,606},{254,255}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,32},{254,255}}</string>
                <key>sourceSize</key>
                <string>{688,305}</string>
            </dict>
            <key>d_back_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,562},{254,255}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,32},{254,255}}</string>
                <key>sourceSize</key>
                <string>{688,305}</string>
            </dict>
            <key>d_easy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1322},{1290,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1290,328}}</string>
                <key>sourceSize</key>
                <string>{1290,328}</string>
            </dict>
            <key>d_hard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{1290,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1290,328}}</string>
                <key>sourceSize</key>
                <string>{1290,328}</string>
            </dict>
            <key>d_hard_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{1290,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1290,328}}</string>
                <key>sourceSize</key>
                <string>{1290,328}</string>
            </dict>
            <key>d_leaderboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,304},{298,300}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{298,300}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>d_leaderboard_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,260},{298,300}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{298,300}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>d_leaderboard_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,2},{298,300}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{298,300}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>d_medium.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{1290,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1290,328}}</string>
                <key>sourceSize</key>
                <string>{1290,328}</string>
            </dict>
            <key>d_medium_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1290,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1290,328}}</string>
                <key>sourceSize</key>
                <string>{1290,328}</string>
            </dict>
            <key>d_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,2},{384,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,256}}</string>
                <key>sourceSize</key>
                <string>{384,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>difficultyAtl-ipadhd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f34fe183945cbf1c1ddc82dc5350e28d:07b10d59eac8db79fa6260d78255ddbb:7019274f81fbcaa156af3e860bd928e9$</string>
            <key>textureFileName</key>
            <string>difficultyAtl-ipadhd.png</string>
        </dict>
    </dict>
</plist>
