<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,148},{66,66}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,7},{66,66}}</string>
                <key>sourceSize</key>
                <string>{172,76}</string>
            </dict>
            <key>d_back_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,80},{66,66}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,7},{66,66}}</string>
                <key>sourceSize</key>
                <string>{172,76}</string>
            </dict>
            <key>d_easy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{283,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,72}}</string>
                <key>sourceSize</key>
                <string>{283,72}</string>
            </dict>
            <key>d_hard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{283,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,72}}</string>
                <key>sourceSize</key>
                <string>{283,72}</string>
            </dict>
            <key>d_hard_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{283,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,72}}</string>
                <key>sourceSize</key>
                <string>{283,72}</string>
            </dict>
            <key>d_leaderboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,80},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>d_leaderboard_l.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,68},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>d_leaderboard_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>d_medium.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{283,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,72}}</string>
                <key>sourceSize</key>
                <string>{283,72}</string>
            </dict>
            <key>d_medium_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{283,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,72}}</string>
                <key>sourceSize</key>
                <string>{283,72}</string>
            </dict>
            <key>d_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>difficultyAtl.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e1ce80e04ceefa8c8d935642c372880:e7f4bf42542a2b18d92ef58afcdb115c:023d40b7c3772c28211f396838af7f0b$</string>
            <key>textureFileName</key>
            <string>difficultyAtl.png</string>
        </dict>
    </dict>
</plist>
