<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fs_backButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{134,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,35},{134,136}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>fs_backButton_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{134,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,35},{134,136}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>fs_fbButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,422},{206,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{206,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>fs_fbButton_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{206,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{206,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>fs_mailButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,212},{206,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{206,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>fs_mailButton_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{206,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{206,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>fs_rateButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{206,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{206,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>fs_rateButton_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{206,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>finalAtl-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2ccf44a4c8dac84a3826f69faabaaf4:136e641bd7365679b10d9f0006f87f05:3cb0be94c597ca8dd6d34dfd1f405756$</string>
            <key>textureFileName</key>
            <string>finalAtl-hd.png</string>
        </dict>
    </dict>
</plist>
