<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>speed_run_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,360},{29,15}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,112},{29,15}}</string>
                <key>sourceSize</key>
                <string>{273,249}</string>
            </dict>
            <key>speed_run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{217,199}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{217,199}}</string>
                <key>sourceSize</key>
                <string>{273,249}</string>
            </dict>
            <key>speed_run_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,229},{239,129}}</string>
                <key>offset</key>
                <string>{-17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,59},{239,129}}</string>
                <key>sourceSize</key>
                <string>{273,249}</string>
            </dict>
            <key>speed_run_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,537},{227,131}}</string>
                <key>offset</key>
                <string>{-17,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,53},{227,131}}</string>
                <key>sourceSize</key>
                <string>{273,249}</string>
            </dict>
            <key>speed_run_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{263,181}}</string>
                <key>offset</key>
                <string>{4,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{263,181}}</string>
                <key>sourceSize</key>
                <string>{273,249}</string>
            </dict>
            <key>speed_run_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{247,169}}</string>
                <key>offset</key>
                <string>{2,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{247,169}}</string>
                <key>sourceSize</key>
                <string>{273,249}</string>
            </dict>
            <key>speed_run_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,360},{231,175}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,17},{231,175}}</string>
                <key>sourceSize</key>
                <string>{273,249}</string>
            </dict>
            <key>speed_run_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{243,225}}</string>
                <key>offset</key>
                <string>{-15,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{243,225}}</string>
                <key>sourceSize</key>
                <string>{273,249}</string>
            </dict>
            <key>speed_run_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{233,215}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,24},{233,215}}</string>
                <key>sourceSize</key>
                <string>{273,249}</string>
            </dict>
            <key>speed_run_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,573},{223,203}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,25},{223,203}}</string>
                <key>sourceSize</key>
                <string>{273,249}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameObjectsAtl2-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:888d2ae33bd8e7fa34b9e20946a6518b:f6df6bf51e68bad77fd621c95e836a25:6213ce1dd6cf81b42975c3c6c94c12aa$</string>
            <key>textureFileName</key>
            <string>gameObjectsAtl2-hd.png</string>
        </dict>
    </dict>
</plist>
