<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>!!!t3_rabbit_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1145},{97,114}}</string>
                <key>offset</key>
                <string>{-17,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,114}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{740,469}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{740,469}}</string>
                <key>sourceSize</key>
                <string>{750,537}</string>
            </dict>
            <key>t3_green_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1032},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{111,111}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>t3_green_button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,867},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>t3_green_button_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,951},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{111,111}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>t3_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{376,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{376,246}}</string>
                <key>sourceSize</key>
                <string>{380,252}</string>
            </dict>
            <key>t3_rabbit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,867},{101,104}}</string>
                <key>offset</key>
                <string>{-6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{101,104}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1060},{89,104}}</string>
                <key>offset</key>
                <string>{-11,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{89,104}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,1239},{93,106}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{93,106}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,693},{115,104}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{115,104}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,799},{115,98}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{115,98}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,852},{115,94}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{115,94}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,858},{115,98}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{115,98}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,754},{115,102}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{115,102}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,587},{115,104}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{115,104}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,899},{113,112}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{113,112}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,1097},{113,110}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{113,110}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1366},{87,106}}</string>
                <key>offset</key>
                <string>{-9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{87,106}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,1094},{113,110}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{113,110}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,1013},{113,110}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{113,110}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,920},{113,110}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{113,110}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,948},{113,110}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{113,110}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,920},{113,110}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{113,110}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,1070},{113,110}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{113,110}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,982},{113,110}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{113,110}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,1182},{111,112}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{111,112}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1032},{107,112}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{107,112}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1206},{103,110}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{103,110}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1377},{83,104}}</string>
                <key>offset</key>
                <string>{-12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{83,104}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1296},{99,112}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{99,112}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1261},{93,114}}</string>
                <key>offset</key>
                <string>{-12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{93,114}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1174},{95,116}}</string>
                <key>offset</key>
                <string>{-12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{95,116}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,1209},{99,118}}</string>
                <key>offset</key>
                <string>{-14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{99,118}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,1209},{99,118}}</string>
                <key>offset</key>
                <string>{-14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{99,118}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,1209},{99,118}}</string>
                <key>offset</key>
                <string>{-14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{99,118}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,1209},{99,118}}</string>
                <key>offset</key>
                <string>{-14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{99,118}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1172},{95,116}}</string>
                <key>offset</key>
                <string>{-17,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{95,116}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1146},{93,114}}</string>
                <key>offset</key>
                <string>{-16,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{93,114}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,1060},{99,110}}</string>
                <key>offset</key>
                <string>{-13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{99,110}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1416},{83,104}}</string>
                <key>offset</key>
                <string>{-15,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{83,104}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,1125},{105,112}}</string>
                <key>offset</key>
                <string>{-10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{105,112}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,642},{109,110}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{109,110}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,958},{113,110}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{113,110}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,473},{117,112}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{117,112}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1064},{97,108}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{97,108}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,473},{117,112}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{117,112}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1064},{97,108}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{97,108}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1292},{85,122}}</string>
                <key>offset</key>
                <string>{-18,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{85,122}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1166},{87,122}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{87,122}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,1394},{83,122}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{83,122}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,1329},{87,104}}</string>
                <key>offset</key>
                <string>{-15,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{87,104}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1347},{87,118}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{87,118}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1318},{87,118}}</string>
                <key>offset</key>
                <string>{-16,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{87,118}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,973},{99,122}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{99,122}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,518},{105,122}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{105,122}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1262},{93,102}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{93,102}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1290},{85,104}}</string>
                <key>offset</key>
                <string>{-16,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{85,104}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1396},{83,102}}</string>
                <key>offset</key>
                <string>{-16,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{83,102}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_rabbit_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,1290},{87,102}}</string>
                <key>offset</key>
                <string>{-12,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{87,102}}</string>
                <key>sourceSize</key>
                <string>{131,142}</string>
            </dict>
            <key>t3_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,737},{192,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,128}}</string>
                <key>sourceSize</key>
                <string>{192,128}</string>
            </dict>
            <key>t3_stickyplank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,206},{212,35}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,99},{212,35}}</string>
                <key>sourceSize</key>
                <string>{214,175}</string>
            </dict>
            <key>t3_stickyplank_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,789},{178,129}}</string>
                <key>offset</key>
                <string>{-16,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{178,129}}</string>
                <key>sourceSize</key>
                <string>{214,175}</string>
            </dict>
            <key>t3_stickyplank_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,789},{178,129}}</string>
                <key>offset</key>
                <string>{-16,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{178,129}}</string>
                <key>sourceSize</key>
                <string>{214,175}</string>
            </dict>
            <key>t3_stickyplank_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,789},{178,129}}</string>
                <key>offset</key>
                <string>{-16,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{178,129}}</string>
                <key>sourceSize</key>
                <string>{214,175}</string>
            </dict>
            <key>t3_stickyplank_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,721},{178,129}}</string>
                <key>offset</key>
                <string>{-16,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{178,129}}</string>
                <key>sourceSize</key>
                <string>{214,175}</string>
            </dict>
            <key>t3_stickyplank_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{188,113}}</string>
                <key>offset</key>
                <string>{-13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{188,113}}</string>
                <key>sourceSize</key>
                <string>{214,175}</string>
            </dict>
            <key>t3_stickyplank_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,591},{196,97}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{196,97}}</string>
                <key>sourceSize</key>
                <string>{214,175}</string>
            </dict>
            <key>t3_stickyplank_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,571},{202,81}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,53},{202,81}}</string>
                <key>sourceSize</key>
                <string>{214,175}</string>
            </dict>
            <key>t3_stickyplank_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,451},{208,65}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,69},{208,65}}</string>
                <key>sourceSize</key>
                <string>{214,175}</string>
            </dict>
            <key>t3_stickyplank_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,402},{210,47}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,88},{210,47}}</string>
                <key>sourceSize</key>
                <string>{214,175}</string>
            </dict>
            <key>t3_stickyplank_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,169},{212,35}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,100},{212,35}}</string>
                <key>sourceSize</key>
                <string>{214,175}</string>
            </dict>
            <key>t3_stickyplank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,206},{212,35}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,99},{212,35}}</string>
                <key>sourceSize</key>
                <string>{214,175}</string>
            </dict>
            <key>t3_stickyplank_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,128},{212,39}}</string>
                <key>offset</key>
                <string>{-1,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,106},{212,39}}</string>
                <key>sourceSize</key>
                <string>{214,175}</string>
            </dict>
            <key>t3_stickyplank_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,298},{210,53}}</string>
                <key>offset</key>
                <string>{-1,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,110},{210,53}}</string>
                <key>sourceSize</key>
                <string>{214,175}</string>
            </dict>
            <key>t3_stickyplank_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,518},{206,51}}</string>
                <key>offset</key>
                <string>{-2,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,113},{206,51}}</string>
                <key>sourceSize</key>
                <string>{214,175}</string>
            </dict>
            <key>t3_stickyplank_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,473},{208,51}}</string>
                <key>offset</key>
                <string>{-2,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,114},{208,51}}</string>
                <key>sourceSize</key>
                <string>{214,175}</string>
            </dict>
            <key>t3_stickyplank_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,243},{210,53}}</string>
                <key>offset</key>
                <string>{-2,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,114},{210,53}}</string>
                <key>sourceSize</key>
                <string>{214,175}</string>
            </dict>
            <key>t3_stickyplank_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,65},{212,61}}</string>
                <key>offset</key>
                <string>{-1,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,113},{212,61}}</string>
                <key>sourceSize</key>
                <string>{214,175}</string>
            </dict>
            <key>t3_stickyplank_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,473},{208,51}}</string>
                <key>offset</key>
                <string>{-2,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,114},{208,51}}</string>
                <key>sourceSize</key>
                <string>{214,175}</string>
            </dict>
            <key>t3_stickyplank_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,298},{210,53}}</string>
                <key>offset</key>
                <string>{-1,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,110},{210,53}}</string>
                <key>sourceSize</key>
                <string>{214,175}</string>
            </dict>
            <key>t3_stickyplank_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{214,61}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,102},{214,61}}</string>
                <key>sourceSize</key>
                <string>{214,175}</string>
            </dict>
            <key>t3_stickyplank_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,206},{212,35}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,99},{212,35}}</string>
                <key>sourceSize</key>
                <string>{214,175}</string>
            </dict>
            <key>t3_stickyplank_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,206},{212,35}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,99},{212,35}}</string>
                <key>sourceSize</key>
                <string>{214,175}</string>
            </dict>
            <key>t3_stickyplank_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,353},{210,47}}</string>
                <key>offset</key>
                <string>{-2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,87},{210,47}}</string>
                <key>sourceSize</key>
                <string>{214,175}</string>
            </dict>
            <key>t3_stickyplank_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,526},{206,63}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,70},{206,63}}</string>
                <key>sourceSize</key>
                <string>{214,175}</string>
            </dict>
            <key>t3_stickyplank_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,654},{200,81}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{200,81}}</string>
                <key>sourceSize</key>
                <string>{214,175}</string>
            </dict>
            <key>t3_stickyplank_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,690},{194,97}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{194,97}}</string>
                <key>sourceSize</key>
                <string>{214,175}</string>
            </dict>
            <key>t3_stickyplank_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,721},{188,113}}</string>
                <key>offset</key>
                <string>{-13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{188,113}}</string>
                <key>sourceSize</key>
                <string>{214,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hints3AnimationAtl-hd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04be45b6e2b14841ca8ab0065b0003f4:1b90db0c8ecfaa2530d87b0ce42d91dc:c3903234a32140a79d52eb8f718f4cb1$</string>
            <key>textureFileName</key>
            <string>hints3AnimationAtl-hd.png</string>
        </dict>
    </dict>
</plist>
