<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>t3_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1480,938}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,44},{1480,938}}</string>
                <key>sourceSize</key>
                <string>{1500,1074}</string>
            </dict>
            <key>t3_green_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,2144},{222,222}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{222,222}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>t3_green_button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,2016},{222,222}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{222,222}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>t3_green_button_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1832},{222,222}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{222,222}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>t3_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{752,492}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{752,492}}</string>
                <key>sourceSize</key>
                <string>{760,504}</string>
            </dict>
            <key>t3_rabbit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2056},{202,208}}</string>
                <key>offset</key>
                <string>{-13,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{202,208}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,2368},{176,206}}</string>
                <key>offset</key>
                <string>{-22,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{176,206}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2614},{184,212}}</string>
                <key>offset</key>
                <string>{-17,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{184,212}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,1168},{228,206}}</string>
                <key>offset</key>
                <string>{-6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{228,206}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,1422},{228,198}}</string>
                <key>offset</key>
                <string>{-7,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,23},{228,198}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,1622},{228,188}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,34},{228,188}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,1376},{228,194}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{228,194}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,1220},{228,200}}</string>
                <key>offset</key>
                <string>{-6,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{228,200}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,1010},{228,208}}</string>
                <key>offset</key>
                <string>{-4,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{228,208}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,1832},{224,220}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{224,220}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,2034},{224,220}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{224,220}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2500},{174,210}}</string>
                <key>offset</key>
                <string>{-18,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{174,210}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,1812},{224,220}}</string>
                <key>offset</key>
                <string>{-6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{224,220}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,1922},{224,220}}</string>
                <key>offset</key>
                <string>{-6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{224,220}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1896},{226,220}}</string>
                <key>offset</key>
                <string>{-6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{226,220}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1696},{226,220}}</string>
                <key>offset</key>
                <string>{-6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{226,220}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,1572},{226,220}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{226,220}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,1794},{224,220}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{224,220}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,2256},{222,220}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{222,220}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,2170},{222,220}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{222,220}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2118},{214,222}}</string>
                <key>offset</key>
                <string>{-11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,19},{214,222}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,1700},{206,222}}</string>
                <key>offset</key>
                <string>{-16,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{206,222}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2710},{164,210}}</string>
                <key>offset</key>
                <string>{-22,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,12},{164,210}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2388},{196,224}}</string>
                <key>offset</key>
                <string>{-21,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{196,224}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2502},{186,228}}</string>
                <key>offset</key>
                <string>{-26,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{186,228}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2266},{190,232}}</string>
                <key>offset</key>
                <string>{-25,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{190,232}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2342},{198,234}}</string>
                <key>offset</key>
                <string>{-28,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{198,234}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2342},{198,234}}</string>
                <key>offset</key>
                <string>{-28,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{198,234}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2342},{198,234}}</string>
                <key>offset</key>
                <string>{-28,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{198,234}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2342},{198,234}}</string>
                <key>offset</key>
                <string>{-28,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{198,234}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,2240},{190,232}}</string>
                <key>offset</key>
                <string>{-34,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{190,232}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2298},{186,228}}</string>
                <key>offset</key>
                <string>{-32,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{186,228}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2278},{198,222}}</string>
                <key>offset</key>
                <string>{-26,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,15},{198,222}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2712},{162,208}}</string>
                <key>offset</key>
                <string>{-29,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,13},{162,208}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2054},{208,222}}</string>
                <key>offset</key>
                <string>{-19,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{208,222}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1918},{218,222}}</string>
                <key>offset</key>
                <string>{-13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{218,222}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,1700},{224,220}}</string>
                <key>offset</key>
                <string>{-6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{224,220}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,942},{230,224}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{230,224}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2578},{194,216}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,32},{194,216}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,942},{230,224}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{230,224}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2578},{194,216}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,28},{194,216}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2528},{170,242}}</string>
                <key>offset</key>
                <string>{-36,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{170,242}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2054},{172,242}}</string>
                <key>offset</key>
                <string>{-20,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,30},{172,242}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,2576},{166,244}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,25},{166,244}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2828},{170,208}}</string>
                <key>offset</key>
                <string>{-29,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{170,208}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2732},{170,236}}</string>
                <key>offset</key>
                <string>{-13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,18},{170,236}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,2474},{174,234}}</string>
                <key>offset</key>
                <string>{-33,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{174,234}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2142},{198,244}}</string>
                <key>offset</key>
                <string>{-17,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{198,244}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,1924},{208,244}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{208,244}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2796},{182,206}}</string>
                <key>offset</key>
                <string>{-28,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{182,206}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3004},{170,206}}</string>
                <key>offset</key>
                <string>{-32,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{170,206}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2772},{162,204}}</string>
                <key>offset</key>
                <string>{-31,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,13},{162,204}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_rabbit_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,2392},{170,204}}</string>
                <key>offset</key>
                <string>{-23,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,14},{170,204}}</string>
                <key>sourceSize</key>
                <string>{262,284}</string>
            </dict>
            <key>t3_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,1442},{384,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,256}}</string>
                <key>sourceSize</key>
                <string>{384,256}</string>
            </dict>
            <key>t3_stickyplank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,326},{424,70}}</string>
                <key>offset</key>
                <string>{1,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,197},{424,70}}</string>
                <key>sourceSize</key>
                <string>{428,350}</string>
            </dict>
            <key>t3_stickyplank_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1572},{358,258}}</string>
                <key>offset</key>
                <string>{-33,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{358,258}}</string>
                <key>sourceSize</key>
                <string>{428,350}</string>
            </dict>
            <key>t3_stickyplank_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1572},{358,258}}</string>
                <key>offset</key>
                <string>{-33,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{358,258}}</string>
                <key>sourceSize</key>
                <string>{428,350}</string>
            </dict>
            <key>t3_stickyplank_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1572},{358,258}}</string>
                <key>offset</key>
                <string>{-33,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{358,258}}</string>
                <key>sourceSize</key>
                <string>{428,350}</string>
            </dict>
            <key>t3_stickyplank_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1436},{358,258}}</string>
                <key>offset</key>
                <string>{-33,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{358,258}}</string>
                <key>sourceSize</key>
                <string>{428,350}</string>
            </dict>
            <key>t3_stickyplank_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1666},{376,228}}</string>
                <key>offset</key>
                <string>{-26,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{376,228}}</string>
                <key>sourceSize</key>
                <string>{428,350}</string>
            </dict>
            <key>t3_stickyplank_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1176},{392,196}}</string>
                <key>offset</key>
                <string>{-18,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,70},{392,196}}</string>
                <key>sourceSize</key>
                <string>{428,350}</string>
            </dict>
            <key>t3_stickyplank_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,1114},{404,162}}</string>
                <key>offset</key>
                <string>{-12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,106},{404,162}}</string>
                <key>sourceSize</key>
                <string>{428,350}</string>
            </dict>
            <key>t3_stickyplank_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,880},{414,128}}</string>
                <key>offset</key>
                <string>{-5,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,141},{414,128}}</string>
                <key>sourceSize</key>
                <string>{428,350}</string>
            </dict>
            <key>t3_stickyplank_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,784},{420,94}}</string>
                <key>offset</key>
                <string>{-4,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,175},{420,94}}</string>
                <key>sourceSize</key>
                <string>{428,350}</string>
            </dict>
            <key>t3_stickyplank_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,506},{422,70}}</string>
                <key>offset</key>
                <string>{-3,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,200},{422,70}}</string>
                <key>sourceSize</key>
                <string>{428,350}</string>
            </dict>
            <key>t3_stickyplank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,326},{424,70}}</string>
                <key>offset</key>
                <string>{1,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,197},{424,70}}</string>
                <key>sourceSize</key>
                <string>{428,350}</string>
            </dict>
            <key>t3_stickyplank_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,246},{424,78}}</string>
                <key>offset</key>
                <string>{-2,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,212},{424,78}}</string>
                <key>sourceSize</key>
                <string>{428,350}</string>
            </dict>
            <key>t3_stickyplank_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,398},{422,106}}</string>
                <key>offset</key>
                <string>{-2,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,219},{422,106}}</string>
                <key>sourceSize</key>
                <string>{428,350}</string>
            </dict>
            <key>t3_stickyplank_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,1010},{412,102}}</string>
                <key>offset</key>
                <string>{-3,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,225},{412,102}}</string>
                <key>sourceSize</key>
                <string>{428,350}</string>
            </dict>
            <key>t3_stickyplank_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,942},{414,102}}</string>
                <key>offset</key>
                <string>{-3,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,227},{414,102}}</string>
                <key>sourceSize</key>
                <string>{428,350}</string>
            </dict>
            <key>t3_stickyplank_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,578},{420,108}}</string>
                <key>offset</key>
                <string>{-4,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,227},{420,108}}</string>
                <key>sourceSize</key>
                <string>{428,350}</string>
            </dict>
            <key>t3_stickyplank_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,124},{424,120}}</string>
                <key>offset</key>
                <string>{-2,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,227},{424,120}}</string>
                <key>sourceSize</key>
                <string>{428,350}</string>
            </dict>
            <key>t3_stickyplank_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,942},{414,102}}</string>
                <key>offset</key>
                <string>{-3,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,227},{414,102}}</string>
                <key>sourceSize</key>
                <string>{428,350}</string>
            </dict>
            <key>t3_stickyplank_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,398},{422,106}}</string>
                <key>offset</key>
                <string>{-2,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,219},{422,106}}</string>
                <key>sourceSize</key>
                <string>{428,350}</string>
            </dict>
            <key>t3_stickyplank_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,2},{428,120}}</string>
                <key>offset</key>
                <string>{0,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,205},{428,120}}</string>
                <key>sourceSize</key>
                <string>{428,350}</string>
            </dict>
            <key>t3_stickyplank_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,326},{424,70}}</string>
                <key>offset</key>
                <string>{1,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,197},{424,70}}</string>
                <key>sourceSize</key>
                <string>{428,350}</string>
            </dict>
            <key>t3_stickyplank_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,326},{424,70}}</string>
                <key>offset</key>
                <string>{1,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,197},{424,70}}</string>
                <key>sourceSize</key>
                <string>{428,350}</string>
            </dict>
            <key>t3_stickyplank_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,688},{420,94}}</string>
                <key>offset</key>
                <string>{-4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,173},{420,94}}</string>
                <key>sourceSize</key>
                <string>{428,350}</string>
            </dict>
            <key>t3_stickyplank_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1046},{412,128}}</string>
                <key>offset</key>
                <string>{-8,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,139},{412,128}}</string>
                <key>sourceSize</key>
                <string>{428,350}</string>
            </dict>
            <key>t3_stickyplank_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,1278},{400,162}}</string>
                <key>offset</key>
                <string>{-14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,104},{400,162}}</string>
                <key>sourceSize</key>
                <string>{428,350}</string>
            </dict>
            <key>t3_stickyplank_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1374},{388,196}}</string>
                <key>offset</key>
                <string>{-20,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,70},{388,196}}</string>
                <key>sourceSize</key>
                <string>{428,350}</string>
            </dict>
            <key>t3_stickyplank_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1436},{376,228}}</string>
                <key>offset</key>
                <string>{-26,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{376,228}}</string>
                <key>sourceSize</key>
                <string>{428,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hints3AnimationAtl-ipadhd.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a7e58e67a9ebb1fc39fd9b21aef730a:e31379b8a28a729be4e1681bcaa8820b:0ae9038966b3a7e590cf6b52cd6c8d7e$</string>
            <key>textureFileName</key>
            <string>hints3AnimationAtl-ipadhd.png</string>
        </dict>
    </dict>
</plist>
