<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>t2_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1480,938}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,44},{1480,938}}</string>
                <key>sourceSize</key>
                <string>{1500,1074}</string>
            </dict>
            <key>t2_green_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,1848},{222,222}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{222,222}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>t2_green_button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2130},{222,222}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{222,222}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>t2_green_button_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2102},{222,222}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{222,222}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>t2_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1354},{752,492}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{752,492}}</string>
                <key>sourceSize</key>
                <string>{760,504}</string>
            </dict>
            <key>t2_rabbit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1842,640},{202,206}}</string>
                <key>offset</key>
                <string>{-18,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{202,206}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,214},{174,206}}</string>
                <key>offset</key>
                <string>{-31,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{174,206}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,1306},{184,212}}</string>
                <key>offset</key>
                <string>{-28,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{184,212}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,1072},{228,206}}</string>
                <key>offset</key>
                <string>{-9,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{228,206}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,1482},{228,198}}</string>
                <key>offset</key>
                <string>{-10,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{228,198}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,1682},{228,188}}</string>
                <key>offset</key>
                <string>{-11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{228,188}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,1520},{228,194}}</string>
                <key>offset</key>
                <string>{-12,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,22},{228,194}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,1280},{228,200}}</string>
                <key>offset</key>
                <string>{-14,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{228,200}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,1072},{228,206}}</string>
                <key>offset</key>
                <string>{-15,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{228,206}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1908},{224,220}}</string>
                <key>offset</key>
                <string>{-21,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{224,220}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1880},{224,220}}</string>
                <key>offset</key>
                <string>{-20,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{224,220}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,2},{174,210}}</string>
                <key>offset</key>
                <string>{-22,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,7},{174,210}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1848},{224,220}}</string>
                <key>offset</key>
                <string>{-19,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{224,220}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1658},{224,220}}</string>
                <key>offset</key>
                <string>{-18,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{224,220}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1658},{226,220}}</string>
                <key>offset</key>
                <string>{-18,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{226,220}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1436},{226,220}}</string>
                <key>offset</key>
                <string>{-17,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{226,220}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1436},{226,220}}</string>
                <key>offset</key>
                <string>{-16,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{226,220}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,848},{228,222}}</string>
                <key>offset</key>
                <string>{-11,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{228,222}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,716},{228,224}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{228,224}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,488},{230,226}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,21},{230,226}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,260},{232,226}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,27},{232,226}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,422},{194,216}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,27},{194,216}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,1872},{166,208}}</string>
                <key>offset</key>
                <string>{-25,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,9},{166,208}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2308},{170,242}}</string>
                <key>offset</key>
                <string>{-33,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{170,242}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2072},{170,242}}</string>
                <key>offset</key>
                <string>{-31,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{170,242}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2600},{166,244}}</string>
                <key>offset</key>
                <string>{-39,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{166,244}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2600},{166,244}}</string>
                <key>offset</key>
                <string>{-43,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{166,244}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,1848},{180,234}}</string>
                <key>offset</key>
                <string>{-22,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,10},{180,234}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,1072},{190,232}}</string>
                <key>offset</key>
                <string>{-21,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,11},{190,232}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2070},{220,236}}</string>
                <key>offset</key>
                <string>{-13,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{220,236}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1680},{224,226}}</string>
                <key>offset</key>
                <string>{-18,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{224,226}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1436},{226,242}}</string>
                <key>offset</key>
                <string>{-17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{226,242}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,1716},{226,242}}</string>
                <key>offset</key>
                <string>{-13,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{226,242}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,1960},{162,208}}</string>
                <key>offset</key>
                <string>{-30,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{162,208}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1880},{222,242}}</string>
                <key>offset</key>
                <string>{-16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{222,242}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2124},{218,240}}</string>
                <key>offset</key>
                <string>{-14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{218,240}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2326},{212,242}}</string>
                <key>offset</key>
                <string>{-11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{212,242}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2354},{208,244}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,22},{208,244}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2366},{170,208}}</string>
                <key>offset</key>
                <string>{-29,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{170,208}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,1848},{182,206}}</string>
                <key>offset</key>
                <string>{-27,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{182,206}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2570},{168,206}}</string>
                <key>offset</key>
                <string>{-37,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{168,206}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,2082},{162,204}}</string>
                <key>offset</key>
                <string>{-38,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{162,204}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_rabbit_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,2056},{172,204}}</string>
                <key>offset</key>
                <string>{-32,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{172,204}}</string>
                <key>sourceSize</key>
                <string>{270,276}</string>
            </dict>
            <key>t2_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,2},{384,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,256}}</string>
                <key>sourceSize</key>
                <string>{384,256}</string>
            </dict>
            <key>t2_superplank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1346},{806,88}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,246},{806,88}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>t2_superplank_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1246},{806,98}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,266},{806,98}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>t2_superplank_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1244},{806,108}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,221},{806,108}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>t2_superplank_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1346},{806,88}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,246},{806,88}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>t2_superplank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1246},{806,98}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,266},{806,98}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>t2_superplank_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1116},{806,128}}</string>
                <key>offset</key>
                <string>{1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,268},{806,128}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>t2_superplank_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,942},{806,168}}</string>
                <key>offset</key>
                <string>{1,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,271},{806,168}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>t2_superplank_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1246},{806,98}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,266},{806,98}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>t2_superplank_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1244},{806,108}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,221},{806,108}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>t2_superplank_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1112},{806,130}}</string>
                <key>offset</key>
                <string>{1,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,196},{806,130}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>t2_superplank_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{806,172}}</string>
                <key>offset</key>
                <string>{1,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,154},{806,172}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>t2_superplank_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1244},{806,108}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,221},{806,108}}</string>
                <key>sourceSize</key>
                <string>{1000,600}</string>
            </dict>
            <key>t_blueBee_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,611},{124,115}}</string>
                <key>offset</key>
                <string>{19,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,35},{124,115}}</string>
                <key>sourceSize</key>
                <string>{300,225}</string>
            </dict>
            <key>t_blueBee_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,494},{124,115}}</string>
                <key>offset</key>
                <string>{19,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,35},{124,115}}</string>
                <key>sourceSize</key>
                <string>{300,225}</string>
            </dict>
            <key>t_blueBee_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,377},{126,115}}</string>
                <key>offset</key>
                <string>{19,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,35},{126,115}}</string>
                <key>sourceSize</key>
                <string>{300,225}</string>
            </dict>
            <key>t_blueBee_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,260},{132,115}}</string>
                <key>offset</key>
                <string>{22,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,35},{132,115}}</string>
                <key>sourceSize</key>
                <string>{300,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hints2AnimationAtl-ipadhd.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26c43e818feef4d0fab9157a3cb82779:b944623ddef06c1845664d2b98c2ee54:fa241320c5a3612125cde5007a332a23$</string>
            <key>textureFileName</key>
            <string>hints2AnimationAtl-ipadhd.png</string>
        </dict>
    </dict>
</plist>
