<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tutorial_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,512},{105,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{105,47}}</string>
                <key>sourceSize</key>
                <string>{107,47}</string>
            </dict>
            <key>tutorial_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,767},{482,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{482,253}}</string>
                <key>sourceSize</key>
                <string>{500,263}</string>
            </dict>
            <key>tutorial_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,2},{537,253}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{537,253}}</string>
                <key>sourceSize</key>
                <string>{555,263}</string>
            </dict>
            <key>tutorial_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,257},{537,253}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{537,253}}</string>
                <key>sourceSize</key>
                <string>{555,263}</string>
            </dict>
            <key>tutorial_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,767},{537,253}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{537,253}}</string>
                <key>sourceSize</key>
                <string>{555,263}</string>
            </dict>
            <key>tutorial_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{569,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{569,253}}</string>
                <key>sourceSize</key>
                <string>{587,263}</string>
            </dict>
            <key>tutorial_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,2},{482,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{482,253}}</string>
                <key>sourceSize</key>
                <string>{500,263}</string>
            </dict>
            <key>tutorial_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,257},{482,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{482,253}}</string>
                <key>sourceSize</key>
                <string>{500,263}</string>
            </dict>
            <key>tutorial_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,512},{482,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{482,253}}</string>
                <key>sourceSize</key>
                <string>{500,263}</string>
            </dict>
            <key>tutorial_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{559,253}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{559,253}}</string>
                <key>sourceSize</key>
                <string>{575,263}</string>
            </dict>
            <key>tutorial_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{559,253}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{559,253}}</string>
                <key>sourceSize</key>
                <string>{575,263}</string>
            </dict>
            <key>tutorial_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,512},{499,253}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{499,253}}</string>
                <key>sourceSize</key>
                <string>{517,263}</string>
            </dict>
            <key>tutorial_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,767},{537,253}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{537,253}}</string>
                <key>sourceSize</key>
                <string>{555,263}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hintsAtl-hd.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c715d51cf7f1e1cbac441bf63d0518d:b7ff93c9d2765799688a9fd825e0df19:46b4e83ea2c4419802597b557d67f2e6$</string>
            <key>textureFileName</key>
            <string>hintsAtl-hd.png</string>
        </dict>
    </dict>
</plist>
