<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>t_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{899,469}}</string>
                <key>offset</key>
                <string>{-2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{899,469}}</string>
                <key>sourceSize</key>
                <string>{909,537}</string>
            </dict>
            <key>t_coins_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,887},{61,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{61,82}}</string>
                <key>sourceSize</key>
                <string>{101,98}</string>
            </dict>
            <key>t_coins_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1055},{59,84}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{59,84}}</string>
                <key>sourceSize</key>
                <string>{101,98}</string>
            </dict>
            <key>t_coins_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,971},{61,82}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,3},{61,82}}</string>
                <key>sourceSize</key>
                <string>{101,98}</string>
            </dict>
            <key>t_coins_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,721},{67,76}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{67,76}}</string>
                <key>sourceSize</key>
                <string>{101,98}</string>
            </dict>
            <key>t_coins_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,799},{65,86}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{65,86}}</string>
                <key>sourceSize</key>
                <string>{101,98}</string>
            </dict>
            <key>t_coins_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1397},{71,90}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{71,90}}</string>
                <key>sourceSize</key>
                <string>{101,98}</string>
            </dict>
            <key>t_coins_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1324},{79,76}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{79,76}}</string>
                <key>sourceSize</key>
                <string>{101,98}</string>
            </dict>
            <key>t_coins_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1497},{81,78}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{81,78}}</string>
                <key>sourceSize</key>
                <string>{101,98}</string>
            </dict>
            <key>t_coins_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,1485},{83,80}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{83,80}}</string>
                <key>sourceSize</key>
                <string>{101,98}</string>
            </dict>
            <key>t_goal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,651},{151,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,225}}</string>
                <key>sourceSize</key>
                <string>{151,225}</string>
            </dict>
            <key>t_goal_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,721},{151,221}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,221}}</string>
                <key>sourceSize</key>
                <string>{151,225}</string>
            </dict>
            <key>t_goal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,721},{151,221}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,221}}</string>
                <key>sourceSize</key>
                <string>{151,225}</string>
            </dict>
            <key>t_goal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,878},{151,221}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,221}}</string>
                <key>sourceSize</key>
                <string>{151,225}</string>
            </dict>
            <key>t_goal_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,950},{149,221}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{149,221}}</string>
                <key>sourceSize</key>
                <string>{151,225}</string>
            </dict>
            <key>t_goal_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,944},{149,221}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,221}}</string>
                <key>sourceSize</key>
                <string>{151,225}</string>
            </dict>
            <key>t_goal_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,723},{151,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,225}}</string>
                <key>sourceSize</key>
                <string>{151,225}</string>
            </dict>
            <key>t_goal_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1101},{147,221}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{147,221}}</string>
                <key>sourceSize</key>
                <string>{151,225}</string>
            </dict>
            <key>t_goal_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1173},{147,221}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{147,221}}</string>
                <key>sourceSize</key>
                <string>{151,225}</string>
            </dict>
            <key>t_goal_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,944},{149,221}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{149,221}}</string>
                <key>sourceSize</key>
                <string>{151,225}</string>
            </dict>
            <key>t_green_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1126},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{111,111}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>t_green_button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,675},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>t_green_button_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,1210},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{111,111}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>t_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{376,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{376,246}}</string>
                <key>sourceSize</key>
                <string>{380,252}</string>
            </dict>
            <key>t_plank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,533},{199,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{199,58}}</string>
                <key>sourceSize</key>
                <string>{201,58}</string>
            </dict>
            <key>t_plank_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,473},{201,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,58}}</string>
                <key>sourceSize</key>
                <string>{201,58}</string>
            </dict>
            <key>t_plank_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,533},{199,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{199,58}}</string>
                <key>sourceSize</key>
                <string>{201,58}</string>
            </dict>
            <key>t_plank_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,593},{199,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{199,56}}</string>
                <key>sourceSize</key>
                <string>{201,58}</string>
            </dict>
            <key>t_plank_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,533},{199,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{199,58}}</string>
                <key>sourceSize</key>
                <string>{201,58}</string>
            </dict>
            <key>t_plank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,473},{201,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,58}}</string>
                <key>sourceSize</key>
                <string>{201,58}</string>
            </dict>
            <key>t_plank_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,473},{201,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,58}}</string>
                <key>sourceSize</key>
                <string>{201,58}</string>
            </dict>
            <key>t_plank_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,473},{201,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,58}}</string>
                <key>sourceSize</key>
                <string>{201,58}</string>
            </dict>
            <key>t_plank_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,533},{199,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{199,58}}</string>
                <key>sourceSize</key>
                <string>{201,58}</string>
            </dict>
            <key>t_plank_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,593},{199,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{199,56}}</string>
                <key>sourceSize</key>
                <string>{201,58}</string>
            </dict>
            <key>t_plank_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,533},{199,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{199,58}}</string>
                <key>sourceSize</key>
                <string>{201,58}</string>
            </dict>
            <key>t_plank_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,593},{199,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{199,56}}</string>
                <key>sourceSize</key>
                <string>{201,58}</string>
            </dict>
            <key>t_plank_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,533},{199,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{199,58}}</string>
                <key>sourceSize</key>
                <string>{201,58}</string>
            </dict>
            <key>t_rabbit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1361},{101,104}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{101,104}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_rabbit_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1167},{89,104}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{89,104}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_rabbit_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,971},{93,106}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,6},{93,106}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_rabbit_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,460},{115,104}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{115,104}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_rabbit_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,566},{115,98}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{115,98}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_rabbit_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,666},{115,94}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{115,94}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_rabbit_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,575},{115,98}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{115,98}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_rabbit_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,473},{115,100}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{115,100}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_rabbit_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,460},{115,104}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{115,104}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_rabbit_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,762},{113,110}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{113,110}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_rabbit_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,790},{113,110}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{113,110}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_rabbit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1167},{89,106}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{89,106}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_rabbit_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,874},{113,110}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{113,110}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_rabbit_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,902},{113,110}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{113,110}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_rabbit_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,986},{113,110}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{113,110}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_rabbit_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1014},{113,110}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{113,110}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_rabbit_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,1098},{113,110}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{113,110}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_rabbit_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,348},{115,110}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{115,110}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_rabbit_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,234},{115,112}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{115,112}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_rabbit_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,118},{115,114}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{115,114}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_rabbit_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,2},{117,114}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{117,114}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_rabbit_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,1447},{99,108}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{99,108}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_rabbit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,1379},{83,104}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{83,104}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_rabbit_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,723},{87,122}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{87,122}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_rabbit_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,847},{87,122}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{87,122}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_rabbit_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,1167},{85,122}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{85,122}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_rabbit_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1273},{87,118}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,5},{87,118}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_rabbit_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1167},{91,116}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{91,116}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_rabbit_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,1323},{103,122}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{103,122}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_rabbit_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1239},{107,120}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{107,120}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_rabbit_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,1185},{107,122}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{107,122}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_rabbit_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,1309},{105,122}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{105,122}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_rabbit_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1391},{83,104}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{83,104}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_rabbit_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1291},{87,104}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{87,104}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_rabbit_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,1079},{93,104}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{93,104}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_rabbit_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1285},{85,104}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{85,104}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_rabbit_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,1393},{83,102}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{83,102}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_rabbit_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1275},{87,102}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{87,102}}</string>
                <key>sourceSize</key>
                <string>{125,138}</string>
            </dict>
            <key>t_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,593},{192,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,128}}</string>
                <key>sourceSize</key>
                <string>{192,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hintsAnimationAtl-hd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea5dc13b30e1c4ea369803a8fef718e3:cd010175635e67528519bcf8642aed72:deb6b742ef3927c0ab640fc0cfe5822e$</string>
            <key>textureFileName</key>
            <string>hintsAnimationAtl-hd.png</string>
        </dict>
    </dict>
</plist>
