<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>t2_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{740,469}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,22},{740,469}}</string>
                <key>sourceSize</key>
                <string>{750,537}</string>
            </dict>
            <key>t2_green_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1119},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{111,111}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>t2_green_button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,783},{113,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>t2_green_button_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1033},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{111,111}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>t2_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,654},{376,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{376,246}}</string>
                <key>sourceSize</key>
                <string>{380,252}</string>
            </dict>
            <key>t2_rabbit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,920},{101,104}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{101,104}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,592},{89,102}}</string>
                <key>offset</key>
                <string>{-16,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{89,102}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,370},{93,106}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{93,106}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,706},{115,104}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{115,104}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,683},{115,98}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{115,98}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,683},{115,94}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{115,94}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,820},{115,98}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{115,98}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,812},{115,102}}</string>
                <key>offset</key>
                <string>{-7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{115,102}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,706},{115,104}}</string>
                <key>offset</key>
                <string>{-8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{115,104}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1010},{113,110}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{113,110}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1007},{113,110}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{113,110}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,1040},{87,106}}</string>
                <key>offset</key>
                <string>{-11,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{87,106}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,921},{113,110}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{113,110}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,902},{113,110}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{113,110}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{113,110}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{113,110}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,895},{113,110}}</string>
                <key>offset</key>
                <string>{-8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{113,110}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,807},{113,112}}</string>
                <key>offset</key>
                <string>{-8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{113,112}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,592},{115,112}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{115,112}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,478},{115,112}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{115,112}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,372},{115,114}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{115,114}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,132},{117,114}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{117,114}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1026},{99,108}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{99,108}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1134},{83,106}}</string>
                <key>offset</key>
                <string>{-13,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{83,106}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1026},{85,122}}</string>
                <key>offset</key>
                <string>{-17,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{85,122}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,696},{87,122}}</string>
                <key>offset</key>
                <string>{-16,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{87,122}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,126},{83,122}}</string>
                <key>offset</key>
                <string>{-19,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{83,122}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{83,122}}</string>
                <key>offset</key>
                <string>{-21,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{83,122}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,250},{91,118}}</string>
                <key>offset</key>
                <string>{-11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{91,118}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,902},{97,116}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{97,116}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1014},{111,118}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{111,118}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,779},{113,114}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{113,114}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,248},{115,122}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{115,122}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,683},{113,122}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{113,122}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1232},{81,104}}</string>
                <key>offset</key>
                <string>{-15,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{81,104}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,902},{111,122}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{111,122}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1122},{109,120}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{109,120}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,902},{107,122}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{107,122}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,916},{105,122}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{105,122}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1136},{87,104}}</string>
                <key>offset</key>
                <string>{-15,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{87,104}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,1020},{93,104}}</string>
                <key>offset</key>
                <string>{-14,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{93,104}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1130},{85,104}}</string>
                <key>offset</key>
                <string>{-19,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{85,104}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1146},{81,104}}</string>
                <key>offset</key>
                <string>{-19,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{81,104}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_rabbit_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1026},{87,102}}</string>
                <key>offset</key>
                <string>{-16,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{87,102}}</string>
                <key>sourceSize</key>
                <string>{135,138}</string>
            </dict>
            <key>t2_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{192,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,128}}</string>
                <key>sourceSize</key>
                <string>{192,128}</string>
            </dict>
            <key>t2_superplank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,645},{404,36}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,128},{404,36}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>t2_superplank_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,612},{404,40}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,136},{404,40}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>t2_superplank_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{404,44}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,118},{404,44}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>t2_superplank_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,645},{404,36}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,128},{404,36}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>t2_superplank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,612},{404,40}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,136},{404,40}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>t2_superplank_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,558},{404,52}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,137},{404,52}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>t2_superplank_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,488},{404,68}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,138},{404,68}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>t2_superplank_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,612},{404,40}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,136},{404,40}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>t2_superplank_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{404,44}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,118},{404,44}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>t2_superplank_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{404,52}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,109},{404,52}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>t2_superplank_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,473},{404,70}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,91},{404,70}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>t2_superplank_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{404,44}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,118},{404,44}}</string>
                <key>sourceSize</key>
                <string>{500,300}</string>
            </dict>
            <key>t_blueBee_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,318},{65,60}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,16},{65,60}}</string>
                <key>sourceSize</key>
                <string>{149,112}</string>
            </dict>
            <key>t_blueBee_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,256},{65,60}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,16},{65,60}}</string>
                <key>sourceSize</key>
                <string>{149,112}</string>
            </dict>
            <key>t_blueBee_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,194},{65,60}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,16},{65,60}}</string>
                <key>sourceSize</key>
                <string>{149,112}</string>
            </dict>
            <key>t_blueBee_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,132},{67,60}}</string>
                <key>offset</key>
                <string>{11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,16},{67,60}}</string>
                <key>sourceSize</key>
                <string>{149,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hints2AnimationAtl-hd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36214aab6e504376d5cc706380c4acac:d26c3fe16ac79f03e8ad7e6ae5ef0da1:bd0453ca1cd7ce5f4af7bff56d9e8246$</string>
            <key>textureFileName</key>
            <string>hints2AnimationAtl-hd.png</string>
        </dict>
    </dict>
</plist>
