<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tutorial_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{54,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,24}}</string>
                <key>sourceSize</key>
                <string>{54,24}</string>
            </dict>
            <key>tutorial_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{242,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{242,128}}</string>
                <key>sourceSize</key>
                <string>{250,132}</string>
            </dict>
            <key>tutorial_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{270,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{270,128}}</string>
                <key>sourceSize</key>
                <string>{278,132}</string>
            </dict>
            <key>tutorial_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,132},{270,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{270,128}}</string>
                <key>sourceSize</key>
                <string>{278,132}</string>
            </dict>
            <key>tutorial_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,132},{270,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{270,128}}</string>
                <key>sourceSize</key>
                <string>{278,132}</string>
            </dict>
            <key>tutorial_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{286,128}}</string>
                <key>sourceSize</key>
                <string>{294,132}</string>
            </dict>
            <key>tutorial_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{242,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{242,128}}</string>
                <key>sourceSize</key>
                <string>{250,132}</string>
            </dict>
            <key>tutorial_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,262},{242,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{242,128}}</string>
                <key>sourceSize</key>
                <string>{250,132}</string>
            </dict>
            <key>tutorial_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,262},{242,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{242,128}}</string>
                <key>sourceSize</key>
                <string>{250,132}</string>
            </dict>
            <key>tutorial_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{280,128}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{280,128}}</string>
                <key>sourceSize</key>
                <string>{288,132}</string>
            </dict>
            <key>tutorial_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{280,128}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{280,128}}</string>
                <key>sourceSize</key>
                <string>{288,132}</string>
            </dict>
            <key>tutorial_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,262},{251,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{251,128}}</string>
                <key>sourceSize</key>
                <string>{259,132}</string>
            </dict>
            <key>tutorial_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{270,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{270,128}}</string>
                <key>sourceSize</key>
                <string>{278,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hintsAtl.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c715d51cf7f1e1cbac441bf63d0518d:b7ff93c9d2765799688a9fd825e0df19:46b4e83ea2c4419802597b557d67f2e6$</string>
            <key>textureFileName</key>
            <string>hintsAtl.png</string>
        </dict>
    </dict>
</plist>
