<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tutorial_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,2},{210,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{210,92}}</string>
                <key>sourceSize</key>
                <string>{214,94}</string>
            </dict>
            <key>tutorial_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,3050},{962,506}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{962,506}}</string>
                <key>sourceSize</key>
                <string>{1000,526}</string>
            </dict>
            <key>tutorial_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3050},{1074,506}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{1074,506}}</string>
                <key>sourceSize</key>
                <string>{1110,526}</string>
            </dict>
            <key>tutorial_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2542},{1074,506}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{1074,506}}</string>
                <key>sourceSize</key>
                <string>{1110,526}</string>
            </dict>
            <key>tutorial_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2034},{1074,506}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{1074,506}}</string>
                <key>sourceSize</key>
                <string>{1110,526}</string>
            </dict>
            <key>tutorial_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,506}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{1136,506}}</string>
                <key>sourceSize</key>
                <string>{1174,526}</string>
            </dict>
            <key>tutorial_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,2542},{962,506}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{962,506}}</string>
                <key>sourceSize</key>
                <string>{1000,526}</string>
            </dict>
            <key>tutorial_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,2034},{962,506}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{962,506}}</string>
                <key>sourceSize</key>
                <string>{1000,526}</string>
            </dict>
            <key>tutorial_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,1526},{962,506}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{962,506}}</string>
                <key>sourceSize</key>
                <string>{1000,526}</string>
            </dict>
            <key>tutorial_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1018},{1118,506}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{1118,506}}</string>
                <key>sourceSize</key>
                <string>{1150,526}</string>
            </dict>
            <key>tutorial_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{1118,506}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{1118,506}}</string>
                <key>sourceSize</key>
                <string>{1150,526}</string>
            </dict>
            <key>tutorial_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3558},{998,506}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{998,506}}</string>
                <key>sourceSize</key>
                <string>{1034,526}</string>
            </dict>
            <key>tutorial_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1526},{1074,506}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{1074,506}}</string>
                <key>sourceSize</key>
                <string>{1110,526}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hintsAtl-ipadhd.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10127619ecc3a39cfcccd6a6ef74e7ad:bf3c01c463058a16f96d26177d979b26:2c24227e2d8ea05ad0ea9a9bee874d8b$</string>
            <key>textureFileName</key>
            <string>hintsAtl-ipadhd.png</string>
        </dict>
    </dict>
</plist>
