<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>t2_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{371,235}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{371,235}}</string>
                <key>sourceSize</key>
                <string>{375,269}</string>
            </dict>
            <key>t2_green_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,514},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>t2_green_button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>t2_green_button_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,512},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>t2_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,337},{188,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{188,124}}</string>
                <key>sourceSize</key>
                <string>{190,126}</string>
            </dict>
            <key>t2_rabbit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,403},{52,53}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{52,53}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,526},{46,53}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{46,53}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,570},{48,53}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{48,53}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,406},{58,53}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{58,53}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,463},{58,49}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{58,49}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,461},{58,49}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{58,49}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{58,49}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{58,49}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,461},{58,51}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{58,51}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,406},{58,53}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,53}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{58,55}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,55}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,349},{58,55}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,55}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,576},{46,53}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{46,53}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,349},{58,55}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,55}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{58,55}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,55}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,456},{58,55}}</string>
                <key>offset</key>
                <string>{-5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,55}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,397},{58,57}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,338},{58,57}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,279},{58,57}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,57}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,220},{58,57}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{58,57}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,192},{58,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{58,57}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,68},{60,59}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{60,59}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,513},{50,55}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{50,55}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,635},{42,53}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{42,53}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,581},{44,61}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{44,61}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,579},{44,61}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{44,61}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,577},{44,61}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,61}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,513},{44,61}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{44,61}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,519},{48,59}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{48,59}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,458},{50,59}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{50,59}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,463},{56,59}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{56,59}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,161},{58,57}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,57}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,129},{58,61}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{58,61}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,98},{58,61}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,61}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,680},{42,53}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{42,53}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,571},{56,61}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{56,61}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,514},{56,61}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{56,61}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,463},{56,61}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{56,61}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,338},{54,63}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{54,63}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,625},{44,53}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{44,53}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,524},{48,53}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{48,53}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,580},{44,53}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{44,53}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,631},{42,53}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{42,53}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_rabbit_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,642},{44,51}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{44,51}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>t2_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,2},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>t2_superplank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{202,18}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,64},{202,18}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>t2_superplank_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,315},{202,20}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,68},{202,20}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>t2_superplank_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{202,22}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,59},{202,22}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>t2_superplank_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{202,18}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,64},{202,18}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>t2_superplank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,315},{202,20}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,68},{202,20}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>t2_superplank_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,287},{202,26}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,69},{202,26}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>t2_superplank_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,251},{202,34}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,69},{202,34}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>t2_superplank_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,315},{202,20}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,68},{202,20}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>t2_superplank_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{202,22}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,59},{202,22}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>t2_superplank_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{202,28}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,53},{202,28}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>t2_superplank_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{202,34}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,46},{202,34}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>t2_superplank_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{202,22}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,59},{202,22}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>t_blueBee_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,68},{31,28}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,9},{31,28}}</string>
                <key>sourceSize</key>
                <string>{75,56}</string>
            </dict>
            <key>t_blueBee_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,62},{33,28}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,9},{33,28}}</string>
                <key>sourceSize</key>
                <string>{75,56}</string>
            </dict>
            <key>t_blueBee_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,32},{33,28}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,9},{33,28}}</string>
                <key>sourceSize</key>
                <string>{75,56}</string>
            </dict>
            <key>t_blueBee_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,2},{33,28}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,9},{33,28}}</string>
                <key>sourceSize</key>
                <string>{75,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hints2AnimationAtl.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36214aab6e504376d5cc706380c4acac:d26c3fe16ac79f03e8ad7e6ae5ef0da1:bd0453ca1cd7ce5f4af7bff56d9e8246$</string>
            <key>textureFileName</key>
            <string>hints2AnimationAtl.png</string>
        </dict>
    </dict>
</plist>
