<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>!!!t3_rabbit_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,541},{50,57}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,57}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{371,235}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{371,235}}</string>
                <key>sourceSize</key>
                <string>{375,269}</string>
            </dict>
            <key>t3_green_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>t3_green_button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,608},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>t3_green_button_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,571},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>t3_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{188,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{188,124}}</string>
                <key>sourceSize</key>
                <string>{190,126}</string>
            </dict>
            <key>t3_rabbit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,667},{52,53}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{52,53}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,301},{46,53}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{46,53}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,673},{48,53}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{48,53}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,357},{60,53}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{60,53}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,563},{58,49}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{58,49}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,524},{58,49}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{58,49}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,512},{58,49}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{58,49}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,412},{60,51}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{60,51}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{58,53}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{58,53}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,549},{58,57}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,57}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,512},{58,57}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,57}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,246},{46,53}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{46,53}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,472},{58,57}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,57}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{58,57}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,57}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,490},{58,57}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,57}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,465},{58,57}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,57}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,453},{58,57}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{58,57}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,453},{58,57}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{58,57}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,481},{58,57}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{58,57}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,575},{56,57}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{56,57}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,531},{56,57}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{56,57}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,614},{52,57}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{52,57}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,661},{42,53}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{42,53}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,531},{50,57}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{50,57}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,634},{48,57}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{48,57}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,600},{48,59}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{48,59}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,713},{50,59}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,59}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,713},{50,59}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,59}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,713},{50,59}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,59}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,713},{50,59}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,59}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,590},{48,59}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,59}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,604},{48,57}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{48,57}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,630},{52,55}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{52,55}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,651},{42,53}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{42,53}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,482},{54,57}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{54,57}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,472},{56,57}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{56,57}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,431},{58,57}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{58,57}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,298},{60,57}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{60,57}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,590},{50,55}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{50,55}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,239},{60,57}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{60,57}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,590},{50,55}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{50,55}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{44,61}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{44,61}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,722},{44,61}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{44,61}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,785},{42,61}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{42,61}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,740},{44,53}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{44,53}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,541},{44,61}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{44,61}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,647},{44,59}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{44,59}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,356},{52,61}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,61}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,419},{54,61}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{54,61}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,687},{48,51}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{48,51}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,728},{44,53}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{44,53}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,837},{42,53}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{42,53}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_rabbit_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,693},{44,53}}</string>
                <key>offset</key>
                <string>{-6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{44,53}}</string>
                <key>sourceSize</key>
                <string>{66,71}</string>
            </dict>
            <key>t3_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,406},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>t3_stickyplank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,192},{105,18}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,50},{105,18}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>t3_stickyplank_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,387},{89,64}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{89,64}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>t3_stickyplank_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,387},{89,64}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{89,64}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>t3_stickyplank_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,387},{89,64}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{89,64}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>t3_stickyplank_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,365},{89,64}}</string>
                <key>offset</key>
                <string>{-8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{89,64}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>t3_stickyplank_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{95,56}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{95,56}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>t3_stickyplank_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,354},{97,50}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{97,50}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>t3_stickyplank_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,345},{101,40}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{101,40}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>t3_stickyplank_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,239},{103,32}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{103,32}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>t3_stickyplank_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,124},{105,24}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{105,24}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>t3_stickyplank_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,172},{105,18}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{105,18}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>t3_stickyplank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,192},{105,18}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,50},{105,18}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>t3_stickyplank_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,150},{105,20}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,53},{105,20}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>t3_stickyplank_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,68},{105,28}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,54},{105,28}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>t3_stickyplank_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,274},{103,26}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,56},{103,26}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>t3_stickyplank_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,246},{103,26}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,57},{103,26}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>t3_stickyplank_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,273},{103,28}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,56},{103,28}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>t3_stickyplank_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,34},{105,32}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{105,32}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>t3_stickyplank_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,246},{103,26}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,57},{103,26}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>t3_stickyplank_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,68},{105,28}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,54},{105,28}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>t3_stickyplank_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,2},{107,30}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{107,30}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>t3_stickyplank_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,192},{105,18}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,50},{105,18}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>t3_stickyplank_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,192},{105,18}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,50},{105,18}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>t3_stickyplank_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,98},{105,24}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,43},{105,24}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>t3_stickyplank_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,212},{103,32}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{103,32}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>t3_stickyplank_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,303},{101,40}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{101,40}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>t3_stickyplank_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,302},{97,50}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{97,50}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
            <key>t3_stickyplank_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,423},{93,56}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{93,56}}</string>
                <key>sourceSize</key>
                <string>{107,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hints3AnimationAtl.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04be45b6e2b14841ca8ab0065b0003f4:1b90db0c8ecfaa2530d87b0ce42d91dc:c3903234a32140a79d52eb8f718f4cb1$</string>
            <key>textureFileName</key>
            <string>hints3AnimationAtl.png</string>
        </dict>
    </dict>
</plist>
