<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>i_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,132},{160,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,154}}</string>
                <key>sourceSize</key>
                <string>{160,154}</string>
            </dict>
            <key>i_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,2},{192,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,128}}</string>
                <key>sourceSize</key>
                <string>{192,128}</string>
            </dict>
            <key>i_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,288},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
            <key>invite.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{823,598}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{823,598}}</string>
                <key>sourceSize</key>
                <string>{853,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>inviteAtl-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c69b9848bf542a032e21f3d6173fd436$</string>
            <key>textureFileName</key>
            <string>inviteAtl-hd.png</string>
        </dict>
    </dict>
</plist>
