<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>area_name_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{207,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{207,37}}</string>
                <key>sourceSize</key>
                <string>{209,41}</string>
            </dict>
            <key>area_name_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,41},{207,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{207,31}}</string>
                <key>sourceSize</key>
                <string>{209,41}</string>
            </dict>
            <key>area_name_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,113},{178,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,36}}</string>
                <key>sourceSize</key>
                <string>{178,36}</string>
            </dict>
            <key>area_name_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,74},{189,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{189,37}}</string>
                <key>sourceSize</key>
                <string>{209,41}</string>
            </dict>
            <key>area_name_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{210,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{210,37}}</string>
                <key>sourceSize</key>
                <string>{216,41}</string>
            </dict>
            <key>connect_to_Facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,41},{197,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,115}}</string>
                <key>sourceSize</key>
                <string>{197,115}</string>
            </dict>
            <key>lc_black_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,590},{92,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{92,93}}</string>
                <key>sourceSize</key>
                <string>{102,103}</string>
            </dict>
            <key>lc_border.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,486},{102,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,103}}</string>
                <key>sourceSize</key>
                <string>{102,103}</string>
            </dict>
            <key>lc_box_count.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,2},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>levelCompleteBase.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{530,558}}</string>
                <key>offset</key>
                <string>{-17,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,40},{530,558}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,450},{137,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,138}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>menu_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,479},{137,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,138}}</string>
                <key>sourceSize</key>
                <string>{137,138}</string>
            </dict>
            <key>next.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,327},{156,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,157}}</string>
                <key>sourceSize</key>
                <string>{156,157}</string>
            </dict>
            <key>next_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,320},{156,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,157}}</string>
                <key>sourceSize</key>
                <string>{156,157}</string>
            </dict>
            <key>retry.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,304},{142,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,144}}</string>
                <key>sourceSize</key>
                <string>{142,144}</string>
            </dict>
            <key>retry_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,158},{142,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,144}}</string>
                <key>sourceSize</key>
                <string>{142,144}</string>
            </dict>
            <key>shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,158},{167,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,167}}</string>
                <key>sourceSize</key>
                <string>{167,167}</string>
            </dict>
            <key>shop_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,151},{167,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,167}}</string>
                <key>sourceSize</key>
                <string>{167,167}</string>
            </dict>
            <key>star_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,591},{95,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,85}}</string>
                <key>sourceSize</key>
                <string>{95,85}</string>
            </dict>
            <key>star_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,590},{95,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,85}}</string>
                <key>sourceSize</key>
                <string>{95,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelCompleteAtl-ipad.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93c1f8d00450aed50cc3e54a599b56f4:6399ffacd31335d4ebc9a62c5327316d:7ef713d0f29a3e53471e873b53a1b34d$</string>
            <key>textureFileName</key>
            <string>levelCompleteAtl-ipad.png</string>
        </dict>
    </dict>
</plist>
