<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ls_carrot bank.png</key>
            <dict>
                <key>frame</key>
                <string>{{1425,2},{337,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{337,56}}</string>
                <key>sourceSize</key>
                <string>{355,78}</string>
            </dict>
            <key>ls_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,57},{295,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,295}}</string>
                <key>sourceSize</key>
                <string>{295,295}</string>
            </dict>
            <key>ls_continue_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,60},{295,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,295}}</string>
                <key>sourceSize</key>
                <string>{295,295}</string>
            </dict>
            <key>ls_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{1341,859},{157,71}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{157,71}}</string>
                <key>sourceSize</key>
                <string>{173,87}</string>
            </dict>
            <key>ls_levelStartBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1052,1110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{1052,1110}}</string>
                <key>sourceSize</key>
                <string>{1052,1112}</string>
            </dict>
            <key>ls_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,275},{289,293}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{289,293}}</string>
                <key>sourceSize</key>
                <string>{295,295}</string>
            </dict>
            <key>ls_menu_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,354},{289,293}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{289,293}}</string>
                <key>sourceSize</key>
                <string>{295,295}</string>
            </dict>
            <key>ls_powerup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,357},{283,251}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{283,251}}</string>
                <key>sourceSize</key>
                <string>{295,295}</string>
            </dict>
            <key>ls_powerup1_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,570},{283,251}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{283,251}}</string>
                <key>sourceSize</key>
                <string>{295,295}</string>
            </dict>
            <key>ls_powerup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,610},{283,247}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{283,247}}</string>
                <key>sourceSize</key>
                <string>{295,295}</string>
            </dict>
            <key>ls_powerup2_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,649},{283,247}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{283,247}}</string>
                <key>sourceSize</key>
                <string>{295,295}</string>
            </dict>
            <key>ls_selectPowerup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,2},{367,53}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{367,53}}</string>
                <key>sourceSize</key>
                <string>{397,73}</string>
            </dict>
            <key>ls_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,2},{271,271}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{271,271}}</string>
                <key>sourceSize</key>
                <string>{295,295}</string>
            </dict>
            <key>ls_shop_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,823},{271,271}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{271,271}}</string>
                <key>sourceSize</key>
                <string>{295,295}</string>
            </dict>
            <key>ls_smallCarrot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,57},{54,72}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{54,72}}</string>
                <key>sourceSize</key>
                <string>{68,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelStartAtl-ipadhd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5335743b2416e580f531358f6c524ad3:53db01f81933de8e65bcc2235c87f76d:1cc80e665b421e6783ecc22c92a5ae79$</string>
            <key>textureFileName</key>
            <string>levelStartAtl-ipadhd.png</string>
        </dict>
    </dict>
</plist>
