<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>area_name_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,2},{414,72}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{414,72}}</string>
                <key>sourceSize</key>
                <string>{418,82}</string>
            </dict>
            <key>area_name_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,76},{412,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{412,60}}</string>
                <key>sourceSize</key>
                <string>{418,82}</string>
            </dict>
            <key>area_name_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,210},{356,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,72}}</string>
                <key>sourceSize</key>
                <string>{356,72}</string>
            </dict>
            <key>area_name_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,138},{376,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,5},{376,70}}</string>
                <key>sourceSize</key>
                <string>{418,82}</string>
            </dict>
            <key>area_name_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,2},{420,72}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{420,72}}</string>
                <key>sourceSize</key>
                <string>{432,82}</string>
            </dict>
            <key>connect_to_Facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,76},{394,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,230}}</string>
                <key>sourceSize</key>
                <string>{394,230}</string>
            </dict>
            <key>lc_black_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,1145},{184,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{184,185}}</string>
                <key>sourceSize</key>
                <string>{204,205}</string>
            </dict>
            <key>lc_border.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,938},{204,205}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,205}}</string>
                <key>sourceSize</key>
                <string>{204,205}</string>
            </dict>
            <key>lc_box_count.png</key>
            <dict>
                <key>frame</key>
                <string>{{1900,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{70,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>levelCompleteBase.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1058,1114}}</string>
                <key>offset</key>
                <string>{-34,130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{461,81},{1058,1114}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,932},{273,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,276}}</string>
                <key>sourceSize</key>
                <string>{273,276}</string>
            </dict>
            <key>menu_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,908},{273,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,276}}</string>
                <key>sourceSize</key>
                <string>{273,276}</string>
            </dict>
            <key>next.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,623},{311,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,313}}</string>
                <key>sourceSize</key>
                <string>{311,313}</string>
            </dict>
            <key>next_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1734,308},{311,313}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,313}}</string>
                <key>sourceSize</key>
                <string>{311,313}</string>
            </dict>
            <key>retry.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,643},{283,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,287}}</string>
                <key>sourceSize</key>
                <string>{283,287}</string>
            </dict>
            <key>retry_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,619},{283,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,287}}</string>
                <key>sourceSize</key>
                <string>{283,287}</string>
            </dict>
            <key>shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,308},{334,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,333}}</string>
                <key>sourceSize</key>
                <string>{334,333}</string>
            </dict>
            <key>shop_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,284},{334,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,333}}</string>
                <key>sourceSize</key>
                <string>{334,333}</string>
            </dict>
            <key>star_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,1109},{190,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,169}}</string>
                <key>sourceSize</key>
                <string>{190,169}</string>
            </dict>
            <key>star_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,938},{190,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,169}}</string>
                <key>sourceSize</key>
                <string>{190,169}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelCompleteAtl-ipadhd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93c1f8d00450aed50cc3e54a599b56f4:6399ffacd31335d4ebc9a62c5327316d:7ef713d0f29a3e53471e873b53a1b34d$</string>
            <key>textureFileName</key>
            <string>levelCompleteAtl-ipadhd.png</string>
        </dict>
    </dict>
</plist>
