<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ls_carrot bank.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,2},{174,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{174,33}}</string>
                <key>sourceSize</key>
                <string>{178,39}</string>
            </dict>
            <key>ls_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,37},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ls_continue_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,37},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ls_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{83,42}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{83,42}}</string>
                <key>sourceSize</key>
                <string>{87,44}</string>
            </dict>
            <key>ls_levelStartBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{526,556}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{526,556}}</string>
                <key>sourceSize</key>
                <string>{526,556}</string>
            </dict>
            <key>ls_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,46},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ls_menu_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,187},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ls_powerup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,187},{146,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{146,128}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ls_powerup1_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,324},{142,126}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{142,126}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ls_powerup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,196},{144,126}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{144,126}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ls_powerup2_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,452},{142,126}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{142,126}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ls_selectPowerup.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{189,33}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{189,33}}</string>
                <key>sourceSize</key>
                <string>{199,37}</string>
            </dict>
            <key>ls_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,317},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{142,142}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ls_shop_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,337},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{142,142}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>ls_smallCarrot.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{30,41}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{30,41}}</string>
                <key>sourceSize</key>
                <string>{34,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelStartAtl-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c92cd73b06c0329f31e0e8101de4a3c:a08a702552f092432e0e2878cfa1ff9d:61bd70ac1d7b738c674beb4e90219ec5$</string>
            <key>textureFileName</key>
            <string>levelStartAtl-hd.png</string>
        </dict>
    </dict>
</plist>
