<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ls_carrot bank.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,2},{87,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{87,18}}</string>
                <key>sourceSize</key>
                <string>{89,20}</string>
            </dict>
            <key>ls_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,21},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ls_continue_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,22},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ls_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{44,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,20}}</string>
                <key>sourceSize</key>
                <string>{44,22}</string>
            </dict>
            <key>ls_levelStartBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{263,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,278}}</string>
                <key>sourceSize</key>
                <string>{263,278}</string>
            </dict>
            <key>ls_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,24},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ls_menu_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,97},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ls_powerup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,98},{72,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{72,64}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ls_powerup1_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,100},{72,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{72,64}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ls_powerup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,164},{72,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{72,64}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ls_powerup2_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,173},{72,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{72,62}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ls_selectPowerup.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,2},{94,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,17}}</string>
                <key>sourceSize</key>
                <string>{100,19}</string>
            </dict>
            <key>ls_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,166},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{70,72}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ls_shop_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,230},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{70,72}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ls_smallCarrot.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,21},{15,21}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{15,21}}</string>
                <key>sourceSize</key>
                <string>{17,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelStartAtl.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c92cd73b06c0329f31e0e8101de4a3c:a08a702552f092432e0e2878cfa1ff9d:61bd70ac1d7b738c674beb4e90219ec5$</string>
            <key>textureFileName</key>
            <string>levelStartAtl.png</string>
        </dict>
    </dict>
</plist>
