<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>area_name_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,295},{92,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{92,17}}</string>
                <key>sourceSize</key>
                <string>{94,17}</string>
            </dict>
            <key>area_name_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,314},{94,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{94,15}}</string>
                <key>sourceSize</key>
                <string>{94,19}</string>
            </dict>
            <key>area_name_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,369},{79,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,16}}</string>
                <key>sourceSize</key>
                <string>{79,16}</string>
            </dict>
            <key>area_name_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,350},{84,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{84,17}}</string>
                <key>sourceSize</key>
                <string>{94,17}</string>
            </dict>
            <key>area_name_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,331},{94,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,17}}</string>
                <key>sourceSize</key>
                <string>{94,17}</string>
            </dict>
            <key>connect_to_Facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,246},{81,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,47}}</string>
                <key>sourceSize</key>
                <string>{81,47}</string>
            </dict>
            <key>lc_black_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,467},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{41,41}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>lc_border.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,450},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>lc_box_count.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>levelCompleteBase.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,242}}</string>
                <key>offset</key>
                <string>{-13,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,10},{232,242}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,447},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>menu_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,387},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>next.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{68,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,69}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>next_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,246},{68,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,69}}</string>
                <key>sourceSize</key>
                <string>{68,69}</string>
            </dict>
            <key>retry.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,382},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>retry_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,317},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,321},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>shop_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>star_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,387},{42,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,38}}</string>
                <key>sourceSize</key>
                <string>{42,38}</string>
            </dict>
            <key>star_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,450},{42,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,38}}</string>
                <key>sourceSize</key>
                <string>{42,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelCompleteAtl.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c196cb26a72db710a910330116ab414c:3f9d5e17ff237b1955ca027bafe2ec9a:d164fd341c3e28f01161fc533152c7f3$</string>
            <key>textureFileName</key>
            <string>levelCompleteAtl.png</string>
        </dict>
    </dict>
</plist>
