<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>area_name_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,519},{184,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{184,33}}</string>
                <key>sourceSize</key>
                <string>{188,33}</string>
            </dict>
            <key>area_name_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,488},{186,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{186,29}}</string>
                <key>sourceSize</key>
                <string>{188,37}</string>
            </dict>
            <key>area_name_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{158,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,32}}</string>
                <key>sourceSize</key>
                <string>{158,32}</string>
            </dict>
            <key>area_name_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,523},{166,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{166,33}}</string>
                <key>sourceSize</key>
                <string>{188,33}</string>
            </dict>
            <key>area_name_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{188,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,33}}</string>
                <key>sourceSize</key>
                <string>{188,33}</string>
            </dict>
            <key>connect_to_Facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,554},{161,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,94}}</string>
                <key>sourceSize</key>
                <string>{161,94}</string>
            </dict>
            <key>lc_black_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,789},{81,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{81,80}}</string>
                <key>sourceSize</key>
                <string>{89,90}</string>
            </dict>
            <key>lc_border.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,764},{89,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,90}}</string>
                <key>sourceSize</key>
                <string>{89,90}</string>
            </dict>
            <key>lc_box_count.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>levelCompleteBase.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{462,484}}</string>
                <key>offset</key>
                <string>{-26,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{311,20},{462,484}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,866},{119,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{119,120}}</string>
                <key>sourceSize</key>
                <string>{119,122}</string>
            </dict>
            <key>menu_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,879},{119,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{119,120}}</string>
                <key>sourceSize</key>
                <string>{119,122}</string>
            </dict>
            <key>next.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{136,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,137}}</string>
                <key>sourceSize</key>
                <string>{136,137}</string>
            </dict>
            <key>next_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,650},{136,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,137}}</string>
                <key>sourceSize</key>
                <string>{136,137}</string>
            </dict>
            <key>retry.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,488},{123,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,126}}</string>
                <key>sourceSize</key>
                <string>{123,126}</string>
            </dict>
            <key>retry_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,879},{123,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{123,124}}</string>
                <key>sourceSize</key>
                <string>{123,126}</string>
            </dict>
            <key>shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,616},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>shop_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>star_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,764},{84,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,75}}</string>
                <key>sourceSize</key>
                <string>{84,75}</string>
            </dict>
            <key>star_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,789},{84,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,75}}</string>
                <key>sourceSize</key>
                <string>{84,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelCompleteAtl-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c196cb26a72db710a910330116ab414c:3f9d5e17ff237b1955ca027bafe2ec9a:d164fd341c3e28f01161fc533152c7f3$</string>
            <key>textureFileName</key>
            <string>levelCompleteAtl-hd.png</string>
        </dict>
    </dict>
</plist>
