<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lf_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{888,926}}</string>
                <key>offset</key>
                <string>{12,143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{592,162},{888,926}}</string>
                <key>sourceSize</key>
                <string>{2048,1536}</string>
            </dict>
            <key>lf_box_count.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{70,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>lf_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,1265},{273,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,276}}</string>
                <key>sourceSize</key>
                <string>{273,276}</string>
            </dict>
            <key>lf_menu_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1508},{273,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,276}}</string>
                <key>sourceSize</key>
                <string>{273,276}</string>
            </dict>
            <key>lf_retry.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1219},{283,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,287}}</string>
                <key>sourceSize</key>
                <string>{283,287}</string>
            </dict>
            <key>lf_retry_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,930},{283,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,287}}</string>
                <key>sourceSize</key>
                <string>{283,287}</string>
            </dict>
            <key>lf_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,930},{334,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,333}}</string>
                <key>sourceSize</key>
                <string>{334,333}</string>
            </dict>
            <key>lf_shop_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{334,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,333}}</string>
                <key>sourceSize</key>
                <string>{334,333}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>levelFailedAtl-ipadhd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9eb4b106b7570c0c5f8fe7668c1ad639:f75fcb3718c65c3279bc637da211d9c5:5cd0397fea2c6a1b1f6dcf5c4edf44d3$</string>
            <key>textureFileName</key>
            <string>levelFailedAtl-ipadhd.png</string>
        </dict>
    </dict>
</plist>
