<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ls_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{272,66}}</string>
                <key>offset</key>
                <string>{-22,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{272,66}}</string>
                <key>sourceSize</key>
                <string>{334,76}</string>
            </dict>
            <key>ls_title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{288,66}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{288,66}}</string>
                <key>sourceSize</key>
                <string>{334,76}</string>
            </dict>
            <key>ls_title_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{306,66}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{306,66}}</string>
                <key>sourceSize</key>
                <string>{334,76}</string>
            </dict>
            <key>ls_title_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,66}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{320,66}}</string>
                <key>sourceSize</key>
                <string>{334,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loadingAtl-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ec8c1894a33622d1aee05a0890d99e1:a9d0c4dbf8e048e03767e528bf6ed097:878bd6f8c1326de5694e5846837e36be$</string>
            <key>textureFileName</key>
            <string>loadingAtl-hd.png</string>
        </dict>
    </dict>
</plist>
