<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ls_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{137,34}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{137,34}}</string>
                <key>sourceSize</key>
                <string>{167,38}</string>
            </dict>
            <key>ls_title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{145,34}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{145,34}}</string>
                <key>sourceSize</key>
                <string>{167,38}</string>
            </dict>
            <key>ls_title_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{153,34}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{153,34}}</string>
                <key>sourceSize</key>
                <string>{167,38}</string>
            </dict>
            <key>ls_title_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{161,34}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{161,34}}</string>
                <key>sourceSize</key>
                <string>{167,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loadingAtl.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ec8c1894a33622d1aee05a0890d99e1:a9d0c4dbf8e048e03767e528bf6ed097:878bd6f8c1326de5694e5846837e36be$</string>
            <key>textureFileName</key>
            <string>loadingAtl.png</string>
        </dict>
    </dict>
</plist>
