<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ls_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{540,130}}</string>
                <key>offset</key>
                <string>{-43,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{540,130}}</string>
                <key>sourceSize</key>
                <string>{668,152}</string>
            </dict>
            <key>ls_title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{576,130}}</string>
                <key>offset</key>
                <string>{-26,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{576,130}}</string>
                <key>sourceSize</key>
                <string>{668,152}</string>
            </dict>
            <key>ls_title_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{612,130}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{612,130}}</string>
                <key>sourceSize</key>
                <string>{668,152}</string>
            </dict>
            <key>ls_title_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{638,130}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{638,130}}</string>
                <key>sourceSize</key>
                <string>{668,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loadingAtl-ipadhd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b1a31781213f01a027dcd683fa9c344:e17110d5fe24ad90e5dcc5186c8fd497:0dfce0376cd655a37c05e7f3e8c15432$</string>
            <key>textureFileName</key>
            <string>loadingAtl-ipadhd.png</string>
        </dict>
    </dict>
</plist>
