<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mm_box_count.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,57},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>mm_facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>mm_facebook_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>mm_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{43,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{43,40}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
            <key>mm_info_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,57},{43,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{43,40}}</string>
                <key>sourceSize</key>
                <string>{45,40}</string>
            </dict>
            <key>mm_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{122,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{122,53}}</string>
                <key>sourceSize</key>
                <string>{124,55}</string>
            </dict>
            <key>mm_play_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{122,53}}</string>
                <key>sourceSize</key>
                <string>{124,55}</string>
            </dict>
            <key>mm_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,57},{90,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,40}}</string>
                <key>sourceSize</key>
                <string>{92,40}</string>
            </dict>
            <key>mm_shop_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{90,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,40}}</string>
                <key>sourceSize</key>
                <string>{92,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainMenuAtl.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bfe04094e6669e9fa44abe9ba4b1bfd:8c636574e971c7b72397d3e5a0d73bb1:68c7bd5e28013d23765bdfeda37bbd59$</string>
            <key>textureFileName</key>
            <string>mainMenuAtl.png</string>
        </dict>
    </dict>
</plist>
