<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mm_box_count.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{70,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>mm_facebook.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,342},{177,164}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{177,164}}</string>
                <key>sourceSize</key>
                <string>{183,168}</string>
            </dict>
            <key>mm_facebook_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,342},{177,164}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{177,164}}</string>
                <key>sourceSize</key>
                <string>{183,168}</string>
            </dict>
            <key>mm_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,456},{176,164}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{176,164}}</string>
                <key>sourceSize</key>
                <string>{184,172}</string>
            </dict>
            <key>mm_info_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{176,164}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{176,164}}</string>
                <key>sourceSize</key>
                <string>{184,172}</string>
            </dict>
            <key>mm_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{520,225}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{520,225}}</string>
                <key>sourceSize</key>
                <string>{530,237}</string>
            </dict>
            <key>mm_play_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{520,225}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{520,225}}</string>
                <key>sourceSize</key>
                <string>{530,237}</string>
            </dict>
            <key>mm_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,172},{388,168}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{388,168}}</string>
                <key>sourceSize</key>
                <string>{400,176}</string>
            </dict>
            <key>mm_shop_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{388,168}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{388,168}}</string>
                <key>sourceSize</key>
                <string>{400,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainMenuAtl-ipadhd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05d7791fbec8cc8242cbcd30efd63737:d83e03a20f30210f3fbe8bdff1ba31c9:5f158eda197d56bd3b6eb921af4bce51$</string>
            <key>textureFileName</key>
            <string>mainMenuAtl-ipadhd.png</string>
        </dict>
    </dict>
</plist>
