<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nc_10kcarrots.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,608},{298,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{298,301}}</string>
                <key>sourceSize</key>
                <string>{298,305}</string>
            </dict>
            <key>nc_10kcarrots_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,305},{298,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{298,301}}</string>
                <key>sourceSize</key>
                <string>{298,305}</string>
            </dict>
            <key>nc_1kcarrots.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,608},{298,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{298,301}}</string>
                <key>sourceSize</key>
                <string>{298,305}</string>
            </dict>
            <key>nc_1kcarrots_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,305},{298,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{298,301}}</string>
                <key>sourceSize</key>
                <string>{298,305}</string>
            </dict>
            <key>nc_2kcarrots.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,563},{298,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{298,301}}</string>
                <key>sourceSize</key>
                <string>{298,305}</string>
            </dict>
            <key>nc_2kcarrots_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{298,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{298,301}}</string>
                <key>sourceSize</key>
                <string>{298,305}</string>
            </dict>
            <key>nc_4kcarrots.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{298,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{298,301}}</string>
                <key>sourceSize</key>
                <string>{298,305}</string>
            </dict>
            <key>nc_4kcarrots_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{298,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{298,301}}</string>
                <key>sourceSize</key>
                <string>{298,305}</string>
            </dict>
            <key>nc_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{384,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,256}}</string>
                <key>sourceSize</key>
                <string>{384,256}</string>
            </dict>
            <key>nc_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{99,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,95}}</string>
                <key>sourceSize</key>
                <string>{99,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>noCarrotsAtl-ipadhd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:459946c1c3dcb64704947adca49aeac4:03d106b00bdbcfbd77d92a25f242337e:fef9e8eadf0e6d1d950e1c0659524eec$</string>
            <key>textureFileName</key>
            <string>noCarrotsAtl-ipadhd.png</string>
        </dict>
    </dict>
</plist>
