<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nc_10kcarrots.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,310},{149,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,152}}</string>
                <key>sourceSize</key>
                <string>{149,152}</string>
            </dict>
            <key>nc_10kcarrots_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,156},{149,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,152}}</string>
                <key>sourceSize</key>
                <string>{149,152}</string>
            </dict>
            <key>nc_1kcarrots.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,310},{149,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,152}}</string>
                <key>sourceSize</key>
                <string>{149,152}</string>
            </dict>
            <key>nc_1kcarrots_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,156},{149,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,152}}</string>
                <key>sourceSize</key>
                <string>{149,152}</string>
            </dict>
            <key>nc_2kcarrots.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{149,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,152}}</string>
                <key>sourceSize</key>
                <string>{149,152}</string>
            </dict>
            <key>nc_2kcarrots_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{149,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,152}}</string>
                <key>sourceSize</key>
                <string>{149,152}</string>
            </dict>
            <key>nc_4kcarrots.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{149,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,152}}</string>
                <key>sourceSize</key>
                <string>{149,152}</string>
            </dict>
            <key>nc_4kcarrots_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{149,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,152}}</string>
                <key>sourceSize</key>
                <string>{149,152}</string>
            </dict>
            <key>nc_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,128}}</string>
                <key>sourceSize</key>
                <string>{192,128}</string>
            </dict>
            <key>nc_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>noCarrotsAtl-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:325467f312dcbbbb6dd3437dc51324b7:9b73d65c4254c2280f4fbf6457b9cb6a:b778888a3de427459408c5b054b4ffd4$</string>
            <key>textureFileName</key>
            <string>noCarrotsAtl-hd.png</string>
        </dict>
    </dict>
</plist>
