<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nes_fb_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,324},{149,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{149,151}}</string>
                <key>sourceSize</key>
                <string>{149,153}</string>
            </dict>
            <key>nes_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{828,578}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,100},{828,578}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>nes_key_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,163},{157,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{157,159}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>nes_menu_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{157,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{157,159}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>nes_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{192,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,128}}</string>
                <key>sourceSize</key>
                <string>{192,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>notEnoughStarsAtl-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd8e4c780de084eacf49495e5e48b5ee:cfa58b8d817de16d92f7c2610b21258e:c40c9520b7c34679254762f3c23991f5$</string>
            <key>textureFileName</key>
            <string>notEnoughStarsAtl-hd.png</string>
        </dict>
    </dict>
</plist>
