<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>o_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,260},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>o_back_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,132},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>o_credits.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{264,244}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{264,244}}</string>
                <key>sourceSize</key>
                <string>{282,244}</string>
            </dict>
            <key>o_credits_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,244}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{264,244}}</string>
                <key>sourceSize</key>
                <string>{282,244}</string>
            </dict>
            <key>o_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,740},{244,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,244}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>o_music_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{244,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,244}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>o_sfx.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,494},{244,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,244}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>o_sfx_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{244,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,244}}</string>
                <key>sourceSize</key>
                <string>{244,244}</string>
            </dict>
            <key>o_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{192,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,128}}</string>
                <key>sourceSize</key>
                <string>{192,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>optionsAtl-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b6371c7f7342ddca1b92c00471ae2f0$</string>
            <key>textureFileName</key>
            <string>optionsAtl-hd.png</string>
        </dict>
    </dict>
</plist>
