<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>o_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,258},{253,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,254}}</string>
                <key>sourceSize</key>
                <string>{253,254}</string>
            </dict>
            <key>o_back_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,2},{253,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,254}}</string>
                <key>sourceSize</key>
                <string>{253,254}</string>
            </dict>
            <key>o_credits.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{586,542}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{586,542}}</string>
                <key>sourceSize</key>
                <string>{592,542}</string>
            </dict>
            <key>o_credits_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{586,542}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{586,542}}</string>
                <key>sourceSize</key>
                <string>{592,542}</string>
            </dict>
            <key>o_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,546},{543,542}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,542}}</string>
                <key>sourceSize</key>
                <string>{543,542}</string>
            </dict>
            <key>o_music_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1090},{543,542}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,542}}</string>
                <key>sourceSize</key>
                <string>{543,542}</string>
            </dict>
            <key>o_sfx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{543,542}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,542}}</string>
                <key>sourceSize</key>
                <string>{543,542}</string>
            </dict>
            <key>o_sfx_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,2},{543,542}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,542}}</string>
                <key>sourceSize</key>
                <string>{543,542}</string>
            </dict>
            <key>o_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1634},{384,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,256}}</string>
                <key>sourceSize</key>
                <string>{384,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>optionsAtl-ipadhd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ace1015e739ee343eb88c9327fa29257$</string>
            <key>textureFileName</key>
            <string>optionsAtl-ipadhd.png</string>
        </dict>
    </dict>
</plist>
