<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gamePaused.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{402,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,216}}</string>
                <key>sourceSize</key>
                <string>{402,216}</string>
            </dict>
            <key>p_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,354},{132,132}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,13},{132,132}}</string>
                <key>sourceSize</key>
                <string>{180,152}</string>
            </dict>
            <key>p_menu_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{132,132}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,13},{132,132}}</string>
                <key>sourceSize</key>
                <string>{180,152}</string>
            </dict>
            <key>p_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,354},{131,131}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,14},{131,131}}</string>
                <key>sourceSize</key>
                <string>{181,153}</string>
            </dict>
            <key>p_play_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{131,131}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,14},{131,131}}</string>
                <key>sourceSize</key>
                <string>{181,153}</string>
            </dict>
            <key>p_retry.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,220},{132,132}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,13},{132,132}}</string>
                <key>sourceSize</key>
                <string>{180,152}</string>
            </dict>
            <key>p_retry_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,220},{132,132}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,13},{132,132}}</string>
                <key>sourceSize</key>
                <string>{180,152}</string>
            </dict>
            <key>p_shadowMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{192,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,128}}</string>
                <key>sourceSize</key>
                <string>{192,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pauseAtl-hd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5749ace46b07346c21bcbddd512d5d25:1/1$</string>
            <key>textureFileName</key>
            <string>pauseAtl-hd.png</string>
        </dict>
    </dict>
</plist>
