<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gamePaused.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{846,518}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{846,518}}</string>
                <key>sourceSize</key>
                <string>{846,518}</string>
            </dict>
            <key>p_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,782},{254,255}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,32},{254,255}}</string>
                <key>sourceSize</key>
                <string>{350,305}</string>
            </dict>
            <key>p_menu_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1037},{254,255}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,32},{254,255}}</string>
                <key>sourceSize</key>
                <string>{350,305}</string>
            </dict>
            <key>p_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,522},{258,258}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,29},{258,258}}</string>
                <key>sourceSize</key>
                <string>{360,304}</string>
            </dict>
            <key>p_play_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,522},{258,258}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,29},{258,258}}</string>
                <key>sourceSize</key>
                <string>{360,304}</string>
            </dict>
            <key>p_retry.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,782},{254,255}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,32},{254,255}}</string>
                <key>sourceSize</key>
                <string>{350,305}</string>
            </dict>
            <key>p_retry_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{254,255}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,32},{254,255}}</string>
                <key>sourceSize</key>
                <string>{350,305}</string>
            </dict>
            <key>p_shadowMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{384,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,256}}</string>
                <key>sourceSize</key>
                <string>{384,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pauseAtl-ipadhd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f25cb07b71405ec0153fd36ffc6540c4:1/1$</string>
            <key>textureFileName</key>
            <string>pauseAtl-ipadhd.png</string>
        </dict>
    </dict>
</plist>
