<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gamePaused.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{201,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,108}}</string>
                <key>sourceSize</key>
                <string>{201,108}</string>
            </dict>
            <key>p_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,181},{66,66}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{66,66}}</string>
                <key>sourceSize</key>
                <string>{90,76}</string>
            </dict>
            <key>p_menu_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{66,66}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{66,66}}</string>
                <key>sourceSize</key>
                <string>{90,76}</string>
            </dict>
            <key>p_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,112},{67,67}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{67,67}}</string>
                <key>sourceSize</key>
                <string>{91,77}</string>
            </dict>
            <key>p_play_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,112},{67,67}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{67,67}}</string>
                <key>sourceSize</key>
                <string>{91,77}</string>
            </dict>
            <key>p_retry.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,181},{66,66}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{66,66}}</string>
                <key>sourceSize</key>
                <string>{90,76}</string>
            </dict>
            <key>p_retry_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{66,66}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{66,66}}</string>
                <key>sourceSize</key>
                <string>{90,76}</string>
            </dict>
            <key>p_shadowMenu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pauseAtl.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdcac15cad4f94bdd0f40293cf491464:1/1$</string>
            <key>textureFileName</key>
            <string>pauseAtl.png</string>
        </dict>
    </dict>
</plist>
