<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1x5mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,44},{47,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,230}}</string>
                <key>sourceSize</key>
                <string>{47,230}</string>
            </dict>
            <key>2x5mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,276},{94,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,230}}</string>
                <key>sourceSize</key>
                <string>{94,230}</string>
            </dict>
            <key>3x5mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,142},{140,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,230}}</string>
                <key>sourceSize</key>
                <string>{140,230}</string>
            </dict>
            <key>4x5mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,696},{187,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,230}}</string>
                <key>sourceSize</key>
                <string>{187,230}</string>
            </dict>
            <key>5x1mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,969},{234,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,46}}</string>
                <key>sourceSize</key>
                <string>{234,46}</string>
            </dict>
            <key>5x2mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,188},{234,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,92}}</string>
                <key>sourceSize</key>
                <string>{234,92}</string>
            </dict>
            <key>5x3mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{234,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,138}}</string>
                <key>sourceSize</key>
                <string>{234,138}</string>
            </dict>
            <key>5x4mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,2},{234,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,184}}</string>
                <key>sourceSize</key>
                <string>{234,184}</string>
            </dict>
            <key>5x5mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,737},{234,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,230}}</string>
                <key>sourceSize</key>
                <string>{234,230}</string>
            </dict>
            <key>5xbottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,996},{234,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,24}}</string>
                <key>sourceSize</key>
                <string>{234,24}</string>
            </dict>
            <key>5xleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,350},{40,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,230}}</string>
                <key>sourceSize</key>
                <string>{40,230}</string>
            </dict>
            <key>5xright.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,793},{39,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,229}}</string>
                <key>sourceSize</key>
                <string>{39,229}</string>
            </dict>
            <key>5xtop.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,664},{234,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,30}}</string>
                <key>sourceSize</key>
                <string>{234,30}</string>
            </dict>
            <key>basePlatform.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,367},{142,347}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,100},{142,347}}</string>
                <key>sourceSize</key>
                <string>{142,447}</string>
            </dict>
            <key>basePlatform0.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{138,347}}</string>
                <key>offset</key>
                <string>{1,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,100},{138,347}}</string>
                <key>sourceSize</key>
                <string>{142,447}</string>
            </dict>
            <key>basePlatform2.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{138,363}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,100},{138,363}}</string>
                <key>sourceSize</key>
                <string>{138,463}</string>
            </dict>
            <key>basePlatform3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,367}}</string>
                <key>offset</key>
                <string>{0,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,112},{132,367}}</string>
                <key>sourceSize</key>
                <string>{142,479}</string>
            </dict>
            <key>basePlatform4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{138,364}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,100},{138,364}}</string>
                <key>sourceSize</key>
                <string>{138,464}</string>
            </dict>
            <key>boulder.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,2},{32,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,29}}</string>
                <key>sourceSize</key>
                <string>{32,29}</string>
            </dict>
            <key>boulder2.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,664},{38,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,33}}</string>
                <key>sourceSize</key>
                <string>{38,33}</string>
            </dict>
            <key>boulderPlatform.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,582},{83,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,43}}</string>
                <key>sourceSize</key>
                <string>{83,45}</string>
            </dict>
            <key>boulderPlatform0.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,415},{83,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{83,40}}</string>
                <key>sourceSize</key>
                <string>{83,44}</string>
            </dict>
            <key>boulderPlatform2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,699},{83,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,36}}</string>
                <key>sourceSize</key>
                <string>{83,36}</string>
            </dict>
            <key>boulderPlatform3.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,324},{85,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,24}}</string>
                <key>sourceSize</key>
                <string>{85,24}</string>
            </dict>
            <key>boulderPlatformCenter3.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,2},{53,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,40}}</string>
                <key>sourceSize</key>
                <string>{53,40}</string>
            </dict>
            <key>boulderPlatformLeft3.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,33},{18,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,38}}</string>
                <key>sourceSize</key>
                <string>{18,38}</string>
            </dict>
            <key>boulderPlatformRight3.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,73},{18,35}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,35}}</string>
                <key>sourceSize</key>
                <string>{18,37}</string>
            </dict>
            <key>boulderPlatformSmall3.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,374},{84,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{84,39}}</string>
                <key>sourceSize</key>
                <string>{92,39}</string>
            </dict>
            <key>boulderPlatformSmall4.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,627},{82,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{82,28}}</string>
                <key>sourceSize</key>
                <string>{84,34}</string>
            </dict>
            <key>left.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,276},{43,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{43,46}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
            <key>lowerleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,765},{45,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{45,26}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
            <key>lowermiddle.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,996},{47,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{47,26}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
            <key>lowerright.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,737},{45,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{45,26}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
            <key>middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,276},{47,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,46}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
            <key>right.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,214},{41,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{41,46}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
            <key>statue.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,142},{42,104}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{42,104}}</string>
                <key>sourceSize</key>
                <string>{46,104}</string>
            </dict>
            <key>upperleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,178},{47,34}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{47,34}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
            <key>uppermiddle.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,664},{47,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{47,32}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
            <key>upperright.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,142},{47,34}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{47,34}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
            <key>wallOver.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,351},{91,311}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,311}}</string>
                <key>sourceSize</key>
                <string>{91,313}</string>
            </dict>
            <key>wallOver0.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,699},{91,309}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,309}}</string>
                <key>sourceSize</key>
                <string>{91,313}</string>
            </dict>
            <key>wallOver2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,737},{84,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,282}}</string>
                <key>sourceSize</key>
                <string>{84,282}</string>
            </dict>
            <key>wallOver3.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,696},{81,298}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{81,298}}</string>
                <key>sourceSize</key>
                <string>{85,300}</string>
            </dict>
            <key>wallOver4.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,351},{72,346}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{72,346}}</string>
                <key>sourceSize</key>
                <string>{86,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>platformsAtl.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e97cb5c4fbc430197c08a662b9bc5031:5866d53fad4c65ddf4a851558cc00a7d:61ed810940ff3d506f2f586cb88350ab$</string>
            <key>textureFileName</key>
            <string>platformsAtl.png</string>
        </dict>
    </dict>
</plist>
