<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1x5mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,2},{94,460}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,460}}</string>
                <key>sourceSize</key>
                <string>{94,460}</string>
            </dict>
            <key>2x5mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,862},{187,460}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,460}}</string>
                <key>sourceSize</key>
                <string>{187,460}</string>
            </dict>
            <key>3x5mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{1447,1374},{280,459}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,459}}</string>
                <key>sourceSize</key>
                <string>{280,459}</string>
            </dict>
            <key>4x5mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,1377},{374,460}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,460}}</string>
                <key>sourceSize</key>
                <string>{374,460}</string>
            </dict>
            <key>5x1mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1932},{468,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,92}}</string>
                <key>sourceSize</key>
                <string>{468,92}</string>
            </dict>
            <key>5x2mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,1839},{468,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,184}}</string>
                <key>sourceSize</key>
                <string>{468,184}</string>
            </dict>
            <key>5x3mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,400},{468,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,276}}</string>
                <key>sourceSize</key>
                <string>{468,276}</string>
            </dict>
            <key>5x4mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,2},{468,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,368}}</string>
                <key>sourceSize</key>
                <string>{468,368}</string>
            </dict>
            <key>5x5mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,1470},{468,460}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,460}}</string>
                <key>sourceSize</key>
                <string>{468,460}</string>
            </dict>
            <key>5xbottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,372},{468,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,48}}</string>
                <key>sourceSize</key>
                <string>{468,48}</string>
            </dict>
            <key>5xleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,400},{79,460}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,460}}</string>
                <key>sourceSize</key>
                <string>{79,460}</string>
            </dict>
            <key>5xright.png</key>
            <dict>
                <key>frame</key>
                <string>{{1877,422},{78,457}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,457}}</string>
                <key>sourceSize</key>
                <string>{78,457}</string>
            </dict>
            <key>5xtop.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,1316},{468,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,59}}</string>
                <key>sourceSize</key>
                <string>{468,59}</string>
            </dict>
            <key>basePlatform.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,732},{280,692}}</string>
                <key>offset</key>
                <string>{-1,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,202},{280,692}}</string>
                <key>sourceSize</key>
                <string>{284,894}</string>
            </dict>
            <key>basePlatform0.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,2},{276,690}}</string>
                <key>offset</key>
                <string>{2,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,203},{276,690}}</string>
                <key>sourceSize</key>
                <string>{284,894}</string>
            </dict>
            <key>basePlatform2.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{275,728}}</string>
                <key>offset</key>
                <string>{0,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,198},{275,728}}</string>
                <key>sourceSize</key>
                <string>{275,926}</string>
            </dict>
            <key>basePlatform3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{264,736}}</string>
                <key>offset</key>
                <string>{0,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,222},{264,736}}</string>
                <key>sourceSize</key>
                <string>{284,958}</string>
            </dict>
            <key>basePlatform4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{276,728}}</string>
                <key>offset</key>
                <string>{0,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,200},{276,728}}</string>
                <key>sourceSize</key>
                <string>{276,928}</string>
            </dict>
            <key>boulder.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1868},{64,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,58}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>boulder2.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1316},{75,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,65}}</string>
                <key>sourceSize</key>
                <string>{75,65}</string>
            </dict>
            <key>boulderPlatform.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1384},{164,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{164,84}}</string>
                <key>sourceSize</key>
                <string>{166,90}</string>
            </dict>
            <key>boulderPlatform0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,1835},{163,80}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{163,80}}</string>
                <key>sourceSize</key>
                <string>{165,88}</string>
            </dict>
            <key>boulderPlatform2.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,1975},{165,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,71}}</string>
                <key>sourceSize</key>
                <string>{165,71}</string>
            </dict>
            <key>boulderPlatform3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,1324},{170,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,48}}</string>
                <key>sourceSize</key>
                <string>{170,48}</string>
            </dict>
            <key>boulderPlatformCenter3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1546,1917},{104,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{104,78}}</string>
                <key>sourceSize</key>
                <string>{106,80}</string>
            </dict>
            <key>boulderPlatformLeft3.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1928},{33,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{33,73}}</string>
                <key>sourceSize</key>
                <string>{35,75}</string>
            </dict>
            <key>boulderPlatformRight3.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,1928},{33,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{33,71}}</string>
                <key>sourceSize</key>
                <string>{35,73}</string>
            </dict>
            <key>boulderPlatformSmall3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,1917},{168,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{168,77}}</string>
                <key>sourceSize</key>
                <string>{184,77}</string>
            </dict>
            <key>boulderPlatformSmall4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,1835},{164,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{164,56}}</string>
                <key>sourceSize</key>
                <string>{168,68}</string>
            </dict>
            <key>left.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1774},{84,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{84,92}}</string>
                <key>sourceSize</key>
                <string>{94,92}</string>
            </dict>
            <key>lowerleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,288},{90,54}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{90,54}}</string>
                <key>sourceSize</key>
                <string>{94,92}</string>
            </dict>
            <key>lowermiddle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,96},{94,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{94,50}}</string>
                <key>sourceSize</key>
                <string>{94,92}</string>
            </dict>
            <key>lowerright.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,344},{88,54}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{88,54}}</string>
                <key>sourceSize</key>
                <string>{94,92}</string>
            </dict>
            <key>middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,2},{94,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,92}}</string>
                <key>sourceSize</key>
                <string>{94,92}</string>
            </dict>
            <key>right.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1680},{84,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{84,92}}</string>
                <key>sourceSize</key>
                <string>{94,92}</string>
            </dict>
            <key>statue.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1470},{84,208}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{84,208}}</string>
                <key>sourceSize</key>
                <string>{92,208}</string>
            </dict>
            <key>upperleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,218},{92,68}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{92,68}}</string>
                <key>sourceSize</key>
                <string>{94,92}</string>
            </dict>
            <key>uppermiddle.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,1316},{94,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{94,64}}</string>
                <key>sourceSize</key>
                <string>{94,92}</string>
            </dict>
            <key>upperright.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,148},{92,68}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{92,68}}</string>
                <key>sourceSize</key>
                <string>{94,92}</string>
            </dict>
            <key>wallOver.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,694},{181,620}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,620}}</string>
                <key>sourceSize</key>
                <string>{181,626}</string>
            </dict>
            <key>wallOver0.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,1383},{179,618}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{179,618}}</string>
                <key>sourceSize</key>
                <string>{181,626}</string>
            </dict>
            <key>wallOver2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1470},{168,563}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,563}}</string>
                <key>sourceSize</key>
                <string>{168,563}</string>
            </dict>
            <key>wallOver3.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,1377},{160,596}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{160,596}}</string>
                <key>sourceSize</key>
                <string>{170,600}</string>
            </dict>
            <key>wallOver4.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,694},{142,688}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{142,688}}</string>
                <key>sourceSize</key>
                <string>{172,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>platformsAtl-hd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e97cb5c4fbc430197c08a662b9bc5031:5866d53fad4c65ddf4a851558cc00a7d:61ed810940ff3d506f2f586cb88350ab$</string>
            <key>textureFileName</key>
            <string>platformsAtl-hd.png</string>
        </dict>
    </dict>
</plist>
