<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1x5mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2345,2705},{187,919}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,919}}</string>
                <key>sourceSize</key>
                <string>{187,919}</string>
            </dict>
            <key>2x5mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2074,1339},{374,919}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,919}}</string>
                <key>sourceSize</key>
                <string>{374,919}</string>
            </dict>
            <key>3x5mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{1986,2},{561,919}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,919}}</string>
                <key>sourceSize</key>
                <string>{561,919}</string>
            </dict>
            <key>4x5mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{1595,2794},{748,919}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{748,919}}</string>
                <key>sourceSize</key>
                <string>{748,919}</string>
            </dict>
            <key>5x1mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,3847},{935,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{935,184}}</string>
                <key>sourceSize</key>
                <string>{935,184}</string>
            </dict>
            <key>5x2mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,3715},{935,367}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{935,367}}</string>
                <key>sourceSize</key>
                <string>{935,367}</string>
            </dict>
            <key>5x3mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2613,3442},{935,551}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{935,551}}</string>
                <key>sourceSize</key>
                <string>{935,551}</string>
            </dict>
            <key>5x4mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2534,2705},{935,735}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{935,735}}</string>
                <key>sourceSize</key>
                <string>{935,735}</string>
            </dict>
            <key>5x5mid.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2834},{935,919}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{935,919}}</string>
                <key>sourceSize</key>
                <string>{935,919}</string>
            </dict>
            <key>5xbottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2955,3995},{935,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{935,96}}</string>
                <key>sourceSize</key>
                <string>{935,96}</string>
            </dict>
            <key>5xleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,2925},{158,920}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,920}}</string>
                <key>sourceSize</key>
                <string>{158,920}</string>
            </dict>
            <key>5xright.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,2925},{157,920}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,920}}</string>
                <key>sourceSize</key>
                <string>{157,920}</string>
            </dict>
            <key>5xtop.png</key>
            <dict>
                <key>frame</key>
                <string>{{2226,2417},{935,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{935,118}}</string>
                <key>sourceSize</key>
                <string>{935,118}</string>
            </dict>
            <key>basePlatform.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,2},{552,1380}}</string>
                <key>offset</key>
                <string>{-2,-204}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,408},{552,1380}}</string>
                <key>sourceSize</key>
                <string>{568,1788}</string>
            </dict>
            <key>basePlatform0.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1452},{552,1380}}</string>
                <key>offset</key>
                <string>{-1,-204}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,408},{552,1380}}</string>
                <key>sourceSize</key>
                <string>{568,1788}</string>
            </dict>
            <key>basePlatform2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1472},{550,1451}}</string>
                <key>offset</key>
                <string>{0,-200}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,400},{550,1451}}</string>
                <key>sourceSize</key>
                <string>{550,1851}</string>
            </dict>
            <key>basePlatform3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{518,1468}}</string>
                <key>offset</key>
                <string>{0,-224}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,448},{518,1468}}</string>
                <key>sourceSize</key>
                <string>{568,1916}</string>
            </dict>
            <key>basePlatform4.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{550,1448}}</string>
                <key>offset</key>
                <string>{-1,-202}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,406},{550,1448}}</string>
                <key>sourceSize</key>
                <string>{552,1856}</string>
            </dict>
            <key>boulder.png</key>
            <dict>
                <key>frame</key>
                <string>{{2540,2537},{127,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,115}}</string>
                <key>sourceSize</key>
                <string>{127,115}</string>
            </dict>
            <key>boulder2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2074,2417},{150,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,130}}</string>
                <key>sourceSize</key>
                <string>{150,130}</string>
            </dict>
            <key>boulderPlatform.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,2626},{326,166}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{326,166}}</string>
                <key>sourceSize</key>
                <string>{332,180}</string>
            </dict>
            <key>boulderPlatform0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1877,2566},{324,158}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{324,158}}</string>
                <key>sourceSize</key>
                <string>{330,176}</string>
            </dict>
            <key>boulderPlatform2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,3941},{330,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,141}}</string>
                <key>sourceSize</key>
                <string>{330,141}</string>
            </dict>
            <key>boulderPlatform3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2613,3995},{340,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,97}}</string>
                <key>sourceSize</key>
                <string>{340,97}</string>
            </dict>
            <key>boulderPlatformCenter3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2074,2260},{208,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{208,155}}</string>
                <key>sourceSize</key>
                <string>{212,159}</string>
            </dict>
            <key>boulderPlatformLeft3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,3941},{66,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{66,146}}</string>
                <key>sourceSize</key>
                <string>{70,150}</string>
            </dict>
            <key>boulderPlatformRight3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,1238},{65,140}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{65,140}}</string>
                <key>sourceSize</key>
                <string>{69,144}</string>
            </dict>
            <key>boulderPlatformSmall3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2203,2549},{335,154}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{335,154}}</string>
                <key>sourceSize</key>
                <string>{367,154}</string>
            </dict>
            <key>boulderPlatformSmall4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2669,2537},{328,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,12},{328,110}}</string>
                <key>sourceSize</key>
                <string>{336,136}</string>
            </dict>
            <key>left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1465,3755},{159,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{159,184}}</string>
                <key>sourceSize</key>
                <string>{187,184}</string>
            </dict>
            <key>lowerleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{2999,2537},{169,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,40},{169,104}}</string>
                <key>sourceSize</key>
                <string>{187,184}</string>
            </dict>
            <key>lowermiddle.png</key>
            <dict>
                <key>frame</key>
                <string>{{3892,2},{187,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{187,96}}</string>
                <key>sourceSize</key>
                <string>{187,184}</string>
            </dict>
            <key>lowerright.png</key>
            <dict>
                <key>frame</key>
                <string>{{3892,100},{167,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,40},{167,104}}</string>
                <key>sourceSize</key>
                <string>{187,184}</string>
            </dict>
            <key>middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,3755},{187,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,184}}</string>
                <key>sourceSize</key>
                <string>{187,184}</string>
            </dict>
            <key>right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,2626},{157,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{157,184}}</string>
                <key>sourceSize</key>
                <string>{187,184}</string>
            </dict>
            <key>statue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2065,923},{168,414}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{168,414}}</string>
                <key>sourceSize</key>
                <string>{184,416}</string>
            </dict>
            <key>upperleft.png</key>
            <dict>
                <key>frame</key>
                <string>{{1880,1238},{183,132}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{183,132}}</string>
                <key>sourceSize</key>
                <string>{187,184}</string>
            </dict>
            <key>uppermiddle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2284,2260},{187,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,33},{187,118}}</string>
                <key>sourceSize</key>
                <string>{187,184}</string>
            </dict>
            <key>upperright.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,1238},{183,132}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{183,132}}</string>
                <key>sourceSize</key>
                <string>{187,184}</string>
            </dict>
            <key>wallOver.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,1384},{360,1240}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{360,1240}}</string>
                <key>sourceSize</key>
                <string>{362,1252}</string>
            </dict>
            <key>wallOver0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,2},{356,1234}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{356,1234}}</string>
                <key>sourceSize</key>
                <string>{362,1252}</string>
            </dict>
            <key>wallOver2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2925},{335,1126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,1126}}</string>
                <key>sourceSize</key>
                <string>{335,1126}</string>
            </dict>
            <key>wallOver3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,1372},{320,1192}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{320,1192}}</string>
                <key>sourceSize</key>
                <string>{340,1200}</string>
            </dict>
            <key>wallOver4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,1384},{280,1376}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,14},{280,1376}}</string>
                <key>sourceSize</key>
                <string>{344,1400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>platformsAtl-ipadhd.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8081a0ce760d76fcc710ea065e13b46:cdf20064a1304c64a28679ce4ad8a372:3fabce9177b44014794934f0492413ce$</string>
            <key>textureFileName</key>
            <string>platformsAtl-ipadhd.png</string>
        </dict>
    </dict>
</plist>
