<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rev_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,725},{70,100}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,5},{70,100}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>rev_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,539},{88,104}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,1},{88,104}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>rev_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,645},{86,104}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{86,104}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>rev_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,855},{72,100}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,5},{72,100}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>rev_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,751},{84,102}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,3},{84,102}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>rev_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,422},{298,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{298,301}}</string>
                <key>sourceSize</key>
                <string>{298,305}</string>
            </dict>
            <key>rev_coin_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{298,301}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{298,301}}</string>
                <key>sourceSize</key>
                <string>{298,305}</string>
            </dict>
            <key>rev_fb.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,723},{298,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,299}}</string>
                <key>sourceSize</key>
                <string>{298,299}</string>
            </dict>
            <key>rev_fb_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,422},{298,299}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,299}}</string>
                <key>sourceSize</key>
                <string>{298,299}</string>
            </dict>
            <key>rev_revive.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1012,418}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,65},{1012,418}}</string>
                <key>sourceSize</key>
                <string>{1012,486}</string>
            </dict>
            <key>rev_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,725},{384,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,256}}</string>
                <key>sourceSize</key>
                <string>{384,256}</string>
            </dict>
            <key>rev_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,422},{117,115}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{117,115}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reviveAtl-ipadhd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:773575e28dfbccaaeeb3df9d784f6601$</string>
            <key>textureFileName</key>
            <string>reviveAtl-ipadhd.png</string>
        </dict>
    </dict>
</plist>
