<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>not_enough_stars.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,2},{914,660}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{914,660}}</string>
                <key>sourceSize</key>
                <string>{914,678}</string>
            </dict>
            <key>perfect_world_completion.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1094,966}}</string>
                <key>offset</key>
                <string>{-2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{1094,966}}</string>
                <key>sourceSize</key>
                <string>{1114,1060}</string>
            </dict>
            <key>sa_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1741},{254,255}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,32},{254,255}}</string>
                <key>sourceSize</key>
                <string>{688,305}</string>
            </dict>
            <key>sa_back_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1484},{254,255}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,32},{254,255}}</string>
                <key>sourceSize</key>
                <string>{688,305}</string>
            </dict>
            <key>sa_forward.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1227},{254,255}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,32},{254,255}}</string>
                <key>sourceSize</key>
                <string>{688,305}</string>
            </dict>
            <key>sa_forward_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,970},{254,255}}</string>
                <key>offset</key>
                <string>{-8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,32},{254,255}}</string>
                <key>sourceSize</key>
                <string>{688,305}</string>
            </dict>
            <key>sa_green_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1998},{222,222}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{222,222}}</string>
                <key>sourceSize</key>
                <string>{226,226}</string>
            </dict>
            <key>sa_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2404},{384,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,256}}</string>
                <key>sourceSize</key>
                <string>{384,256}</string>
            </dict>
            <key>sa_star_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{3898,1434},{190,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,169}}</string>
                <key>sourceSize</key>
                <string>{190,169}</string>
            </dict>
            <key>unlock1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,1436},{398,714}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,714}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,1436},{398,714}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,714}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3498,1434},{398,714}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,714}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3098,1434},{398,714}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,714}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2698,720},{398,714}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,714}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2298,720},{398,714}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,714}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,1688},{398,714}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,714}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1688},{398,714}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,714}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2814,2},{398,716}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,716}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2814,2},{398,716}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,716}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2414,2},{398,716}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,716}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,970},{398,716}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,716}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{398,716}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,716}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,664},{398,716}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,716}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,664},{398,716}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,716}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,2},{398,716}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,716}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2652,2134},{392,696}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{392,696}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2652,2134},{392,696}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{392,696}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,2152},{392,696}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{392,696}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2258,2134},{392,696}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{392,696}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2652,1436},{392,696}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{392,696}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2258,1436},{392,696}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{392,696}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,2098},{392,696}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{392,696}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,2098},{392,696}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{392,696}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,1382},{398,714}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,714}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,1382},{398,714}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,714}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,1382},{398,714}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,714}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,720},{398,714}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,714}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3614,718},{398,714}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,714}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{3214,718},{398,714}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,714}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{3614,2},{398,714}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,714}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{3214,2},{398,714}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,714}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,2850},{386,708}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{386,708}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,2850},{386,708}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{386,708}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,2850},{386,708}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{386,708}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,2796},{386,708}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{386,708}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2850},{386,708}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{386,708}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,3114},{386,708}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{386,708}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2404},{386,708}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{386,708}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
            <key>unlock5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2850},{386,708}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{386,708}}</string>
                <key>sourceSize</key>
                <string>{398,716}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>selectAreaAtl-ipadhd.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:647565232349423b36864f9a1da8e1e9:aa6d698fee1444e836fe1ec303a57b26:9df2c0135147a0e7868070caf2d0d56a$</string>
            <key>textureFileName</key>
            <string>selectAreaAtl-ipadhd.png</string>
        </dict>
    </dict>
</plist>
