<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>not_enough_stars.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,2},{457,329}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{457,329}}</string>
                <key>sourceSize</key>
                <string>{457,339}</string>
            </dict>
            <key>perfect_world_completion.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{547,484}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{547,484}}</string>
                <key>sourceSize</key>
                <string>{557,530}</string>
            </dict>
            <key>sa_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,890},{131,132}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,13},{131,132}}</string>
                <key>sourceSize</key>
                <string>{343,152}</string>
            </dict>
            <key>sa_back_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,756},{131,132}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,13},{131,132}}</string>
                <key>sourceSize</key>
                <string>{343,152}</string>
            </dict>
            <key>sa_forward.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,622},{131,132}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,13},{131,132}}</string>
                <key>sourceSize</key>
                <string>{343,152}</string>
            </dict>
            <key>sa_forward_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,488},{131,132}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,13},{131,132}}</string>
                <key>sourceSize</key>
                <string>{343,152}</string>
            </dict>
            <key>sa_green_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1928},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{111,111}}</string>
                <key>sourceSize</key>
                <string>{113,113}</string>
            </dict>
            <key>sa_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1773},{192,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,128}}</string>
                <key>sourceSize</key>
                <string>{192,128}</string>
            </dict>
            <key>sa_star_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,1928},{84,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,75}}</string>
                <key>sourceSize</key>
                <string>{84,75}</string>
            </dict>
            <key>unlock1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,1053},{199,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,358}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,1053},{199,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,358}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1413},{199,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,358}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1053},{199,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,358}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,693},{199,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,358}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,693},{199,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,358}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,362},{199,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,358}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1568},{199,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,358}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1208},{199,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,358}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1208},{199,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,358}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,848},{199,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,358}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1568},{199,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,358}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1208},{199,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,358}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{199,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,358}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,2},{199,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,358}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,2},{199,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,358}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,1434},{197,348}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{197,348}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,1434},{197,348}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{197,348}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,712},{197,348}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{197,348}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,712},{197,348}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{197,348}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,712},{197,348}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{197,348}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,362},{197,348}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{197,348}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,362},{197,348}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{197,348}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,362},{197,348}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{197,348}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,2},{199,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,358}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,2},{199,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,358}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,2},{199,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,358}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,488},{199,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,358}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{199,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,358}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,333},{199,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,358}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,333},{199,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,358}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,2},{199,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,358}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,1078},{193,354}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{193,354}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,1078},{193,354}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{193,354}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,362},{193,354}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{193,354}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,722},{193,354}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{193,354}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,1409},{193,354}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{193,354}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,1053},{193,354}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{193,354}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,1413},{193,354}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{193,354}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
            <key>unlock5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,1413},{193,354}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{193,354}}</string>
                <key>sourceSize</key>
                <string>{199,358}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>selectAreaAtl-hd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ddf8573577f6bde8bc122492fa05733:a1c90cba64ffcd57ed4feaa8ff10261a:83a55ca2e986b4bae08a83fe164237ff$</string>
            <key>textureFileName</key>
            <string>selectAreaAtl-hd.png</string>
        </dict>
    </dict>
</plist>
