<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0star.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,502},{234,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{234,248}}</string>
                <key>sourceSize</key>
                <string>{236,248}</string>
            </dict>
            <key>1star.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,252},{234,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{234,248}}</string>
                <key>sourceSize</key>
                <string>{236,248}</string>
            </dict>
            <key>2star.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{234,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{234,248}}</string>
                <key>sourceSize</key>
                <string>{236,248}</string>
            </dict>
            <key>3star.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,770},{234,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{234,248}}</string>
                <key>sourceSize</key>
                <string>{236,248}</string>
            </dict>
            <key>gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{234,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{234,248}}</string>
                <key>sourceSize</key>
                <string>{236,248}</string>
            </dict>
            <key>sl_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{254,254}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{254,254}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>sl_back_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{254,254}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{254,254}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>sl_forward.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{254,254}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,25},{254,254}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>sl_forward_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,254}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,25},{254,254}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>sl_leaderboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,258},{222,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{222,224}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>sl_leaderboard_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,258},{222,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{222,224}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>selectLevelAtl-ipadhd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60e5d19444e85aadc1e2a95b6f376171:64549d8db5112f3abf1f127692928424:5b4dc09068aeee2fb0868f824b1ecf2e$</string>
            <key>textureFileName</key>
            <string>selectLevelAtl-ipadhd.png</string>
        </dict>
    </dict>
</plist>
