<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0star.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,136},{118,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,124}}</string>
                <key>sourceSize</key>
                <string>{118,124}</string>
            </dict>
            <key>1star.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,128},{118,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,124}}</string>
                <key>sourceSize</key>
                <string>{118,124}</string>
            </dict>
            <key>2star.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,128},{118,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,124}}</string>
                <key>sourceSize</key>
                <string>{118,124}</string>
            </dict>
            <key>3star.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{118,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,124}}</string>
                <key>sourceSize</key>
                <string>{118,124}</string>
            </dict>
            <key>gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{118,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,124}}</string>
                <key>sourceSize</key>
                <string>{118,124}</string>
            </dict>
            <key>sl_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{132,132}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{132,132}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>sl_back_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{132,132}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{132,132}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>sl_forward.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{132,132}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{132,132}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>sl_forward_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,132}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{132,132}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>sl_leaderboard.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,262},{114,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{114,116}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>sl_leaderboard_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,380},{112,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{112,114}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>selectLevelAtl-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61732794a618525d5324b9b12e759ec4:42c0b2978995def12d9e4b122f8869c4:b4916c852f4b6103913b89eac2cb9081$</string>
            <key>textureFileName</key>
            <string>selectLevelAtl-hd.png</string>
        </dict>
    </dict>
</plist>
