<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>not_enough_stars.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,2},{229,166}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{229,166}}</string>
                <key>sourceSize</key>
                <string>{229,170}</string>
            </dict>
            <key>perfect_world_completion.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{275,243}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{275,243}}</string>
                <key>sourceSize</key>
                <string>{279,265}</string>
            </dict>
            <key>sa_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,451},{66,66}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,7},{66,66}}</string>
                <key>sourceSize</key>
                <string>{172,76}</string>
            </dict>
            <key>sa_back_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,383},{66,66}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,7},{66,66}}</string>
                <key>sourceSize</key>
                <string>{172,76}</string>
            </dict>
            <key>sa_forward.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,315},{66,66}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,7},{66,66}}</string>
                <key>sourceSize</key>
                <string>{172,76}</string>
            </dict>
            <key>sa_forward_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,247},{66,66}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,7},{66,66}}</string>
                <key>sourceSize</key>
                <string>{172,76}</string>
            </dict>
            <key>sa_green_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,519},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>sa_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,940},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>sa_star_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,971},{42,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,38}}</string>
                <key>sourceSize</key>
                <string>{42,38}</string>
            </dict>
            <key>unlock1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,532},{100,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,179}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,532},{100,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,179}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,759},{100,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,179}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,578},{100,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,179}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,351},{100,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,179}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,351},{100,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,179}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,183},{100,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,179}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,790},{100,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,179}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,609},{100,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,179}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,609},{100,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,179}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,428},{100,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,179}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{100,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,179}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,609},{100,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,179}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{100,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,179}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{100,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,179}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{100,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,179}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,726},{100,175}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,175}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,726},{100,175}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,175}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,360},{100,175}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,175}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,360},{100,175}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,175}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,360},{100,175}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,175}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,183},{100,175}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,175}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,183},{100,175}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,175}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,183},{100,175}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,175}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{100,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,179}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{100,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,179}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{100,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,179}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,247},{100,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,179}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock4_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{100,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,179}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock4_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,170},{100,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,179}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock4_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,170},{100,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,179}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock4_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{100,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,179}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,545},{98,179}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,179}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,545},{98,179}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,179}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,183},{98,179}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,179}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,364},{98,179}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,179}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,713},{98,179}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,179}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,532},{98,179}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,179}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,713},{98,179}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,179}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
            <key>unlock5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,713},{98,179}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{98,179}}</string>
                <key>sourceSize</key>
                <string>{100,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>selectAreaAtl.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ddf8573577f6bde8bc122492fa05733:a1c90cba64ffcd57ed4feaa8ff10261a:83a55ca2e986b4bae08a83fe164237ff$</string>
            <key>textureFileName</key>
            <string>selectAreaAtl.png</string>
        </dict>
    </dict>
</plist>
