<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10kcarrots.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,208},{65,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,60}}</string>
                <key>sourceSize</key>
                <string>{65,60}</string>
            </dict>
            <key>10planks.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,462},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>1kcarrots.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,335},{57,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>2kcarrots.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,397},{59,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,58}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>3stickyplank.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,462},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>4kcarrots.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,400},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>5planks.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,457},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>ShopBase.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{416,312}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,20},{416,312}}</string>
                <key>sourceSize</key>
                <string>{478,368}</string>
            </dict>
            <key>bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,335},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>carrot.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,25},{10,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,18}}</string>
                <key>sourceSize</key>
                <string>{10,18}</string>
            </dict>
            <key>levelblaster.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,335},{63,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{63,72}}</string>
                <key>sourceSize</key>
                <string>{67,74}</string>
            </dict>
            <key>s_15pack.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,78},{66,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{66,63}}</string>
                <key>sourceSize</key>
                <string>{70,63}</string>
            </dict>
            <key>s_30pack.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,143},{66,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{66,63}}</string>
                <key>sourceSize</key>
                <string>{70,63}</string>
            </dict>
            <key>s_5pack.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,270},{64,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{64,63}}</string>
                <key>sourceSize</key>
                <string>{70,63}</string>
            </dict>
            <key>s_restore.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,400},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>s_restore_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,335},{62,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,63}}</string>
                <key>sourceSize</key>
                <string>{62,63}</string>
            </dict>
            <key>sp_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,285},{17,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,23}}</string>
                <key>sourceSize</key>
                <string>{17,23}</string>
            </dict>
            <key>sp_arrow_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,247},{23,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,17}}</string>
                <key>sourceSize</key>
                <string>{23,17}</string>
            </dict>
            <key>sp_arrow_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,266},{23,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,17}}</string>
                <key>sourceSize</key>
                <string>{23,17}</string>
            </dict>
            <key>sp_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,335},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>sp_back_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,335},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>sp_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,45},{3,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,200}}</string>
                <key>sourceSize</key>
                <string>{3,200}</string>
            </dict>
            <key>sp_scroll.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,2},{11,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,21}}</string>
                <key>sourceSize</key>
                <string>{11,21}</string>
            </dict>
            <key>sp_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,409},{96,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,64}}</string>
                <key>sourceSize</key>
                <string>{96,64}</string>
            </dict>
            <key>superplank3.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,316},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>unlockallworlds.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{75,74}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{75,74}}</string>
                <key>sourceSize</key>
                <string>{79,78}</string>
            </dict>
            <key>worldblaster.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{59,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{59,72}}</string>
                <key>sourceSize</key>
                <string>{63,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shopAtl.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:089eb2c58264c96620624afc09292e6c:c242cd78f83eb4a28216bca64c5c78ef:ce246fc2faf5a9806994f797a1614a55$</string>
            <key>textureFileName</key>
            <string>shopAtl.png</string>
        </dict>
    </dict>
</plist>
