<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>130</key>
	<array>
		<string>basePlatform.png</string>
		<integer>20</integer>
		<integer>1</integer>
		<integer>100</integer>
		<integer>1</integer>
	</array>
	<key>132</key>
	<array>
		<string>wallOver.png</string>
		<integer>20</integer>
		<integer>1</integer>
		<integer>100</integer>
		<integer>1</integer>
	</array>
	<key>103</key>
	<array>
		<string>tram2_1.png</string>
		<integer>20</integer>
		<integer>2</integer>
		<integer>100</integer>
	</array>
	<key>104</key>
	<array>
		<string>tram3_1.png</string>
		<integer>20</integer>
		<integer>2</integer>
		<integer>100</integer>
	</array>
	<key>105</key>
	<array>
		<string>tram4_1.png</string>
		<integer>20</integer>
		<integer>2</integer>
		<integer>100</integer>
	</array>
	<key>131</key>
	<array>
		<string>boulderPlatform.png</string>
		<integer>20</integer>
		<integer>3</integer>
		<integer>100</integer>
		<integer>1</integer>
	</array>
	<key>107</key>
	<array>
		<string>lowerleft.png</string>
		<integer>20</integer>
		<integer>3</integer>
		<integer>100</integer>
		<integer>2</integer>
	</array>
	<key>108</key>
	<array>
		<string>lowermiddle.png</string>
		<integer>20</integer>
		<integer>3</integer>
		<integer>100</integer>
		<integer>2</integer>
	</array>
	<key>109</key>
	<array>
		<string>lowerright.png</string>
		<integer>20</integer>
		<integer>3</integer>
		<integer>100</integer>
		<integer>2</integer>
	</array>
	<key>113</key>
	<array>
		<string>upperleft.png</string>
		<integer>20</integer>
		<integer>3</integer>
		<integer>100</integer>
		<integer>2</integer>
	</array>
	<key>115</key>
	<array>
		<string>upperright.png</string>
		<integer>20</integer>
		<integer>3</integer>
		<integer>100</integer>
		<integer>2</integer>
	</array>
	<key>118</key>
	<array>
		<string>3x5mid.png</string>
		<integer>20</integer>
		<integer>3</integer>
		<integer>100</integer>
		<integer>2</integer>
	</array>
	<key>122</key>
	<array>
		<string>5x3mid.png</string>
		<integer>20</integer>
		<integer>3</integer>
		<integer>100</integer>
		<integer>2</integer>
	</array>
	<key>124</key>
	<array>
		<string>5x5mid.png</string>
		<integer>20</integer>
		<integer>3</integer>
		<integer>100</integer>
		<integer>2</integer>
	</array>
	<key>125</key>
	<array>
		<string>5xbottom.png</string>
		<integer>20</integer>
		<integer>3</integer>
		<integer>100</integer>
		<integer>2</integer>
	</array>
	<key>126</key>
	<array>
		<string>5xleft.png</string>
		<integer>20</integer>
		<integer>3</integer>
		<integer>100</integer>
		<integer>2</integer>
	</array>
	<key>127</key>
	<array>
		<string>5xright.png</string>
		<integer>20</integer>
		<integer>3</integer>
		<integer>100</integer>
		<integer>2</integer>
	</array>
	<key>128</key>
	<array>
		<string>5xtop.png</string>
		<integer>20</integer>
		<integer>3</integer>
		<integer>100</integer>
		<integer>2</integer>
	</array>
	<key>101</key>
	<array>
		<string>basePlatform0.png</string>
		<integer>20</integer>
		<integer>1</integer>
		<integer>100</integer>
		<integer>0</integer>
	</array>
	<key>106</key>
	<array>
		<string>boulderPlatform0.png</string>
		<integer>20</integer>
		<integer>3</integer>
		<integer>100</integer>
		<integer>0</integer>
	</array>
	<key>102</key>
	<array>
		<string>wallOver0.png</string>
		<integer>20</integer>
		<integer>1</integer>
		<integer>100</integer>
		<integer>0</integer>
	</array>
	<key>150</key>
	<array>
		<string>basePlatform2.png</string>
		<integer>20</integer>
		<integer>1</integer>
		<integer>100</integer>
		<integer>2</integer>
	</array>
	<key>151</key>
	<array>
		<string>wallOver2.png</string>
		<integer>20</integer>
		<integer>1</integer>
		<integer>100</integer>
		<integer>2</integer>
	</array>
	<key>153</key>
	<array>
		<string>boulderPlatform2.png</string>
		<integer>20</integer>
		<integer>3</integer>
		<integer>100</integer>
		<integer>2</integer>
	</array>
	<key>170</key>
	<array>
		<string>basePlatform3.png</string>
		<integer>20</integer>
		<integer>1</integer>
		<integer>100</integer>
		<integer>3</integer>
	</array>
	<key>171</key>
	<array>
		<string>wallOver3.png</string>
		<integer>20</integer>
		<integer>1</integer>
		<integer>100</integer>
		<integer>3</integer>
	</array>
	<key>172</key>
	<array>
		<string>boulderPlatform3.png</string>
		<integer>20</integer>
		<integer>3</integer>
		<integer>100</integer>
		<integer>3</integer>
	</array>
	<key>173</key>
	<array>
		<string>boulderPlatformCenter3.png</string>
		<integer>20</integer>
		<integer>3</integer>
		<integer>100</integer>
		<integer>3</integer>
	</array>
	<key>174</key>
	<array>
		<string>boulderPlatformLeft3.png</string>
		<integer>20</integer>
		<integer>3</integer>
		<integer>100</integer>
		<integer>3</integer>
	</array>
	<key>175</key>
	<array>
		<string>boulderPlatformRight3.png</string>
		<integer>20</integer>
		<integer>3</integer>
		<integer>100</integer>
		<integer>3</integer>
	</array>
	<key>176</key>
	<array>
		<string>boulderPlatformSmall3.png</string>
		<integer>20</integer>
		<integer>3</integer>
		<integer>100</integer>
		<integer>3</integer>
	</array>
	<key>190</key>
	<array>
		<string>basePlatform4.png</string>
		<integer>20</integer>
		<integer>1</integer>
		<integer>100</integer>
		<integer>4</integer>
	</array>
	<key>191</key>
	<array>
		<string>wallOver4.png</string>
		<integer>20</integer>
		<integer>1</integer>
		<integer>100</integer>
		<integer>4</integer>
	</array>
	<key>192</key>
	<array>
		<string>boulderPlatformSmall4.png</string>
		<integer>20</integer>
		<integer>3</integer>
		<integer>100</integer>
		<integer>4</integer>
	</array>
	<key>201</key>
	<array>
		<string>goal_animation_1.png</string>
		<integer>20</integer>
		<integer>2</integer>
		<integer>200</integer>
	</array>
	<key>301</key>
	<array>
		<string>coin_1.png</string>
		<integer>20</integer>
		<integer>2</integer>
		<integer>300</integer>
	</array>
	<key>401</key>
	<array>
		<string>stand/stand_1.png</string>
		<integer>20</integer>
		<integer>2</integer>
		<integer>400</integer>
	</array>
	<key>501</key>
	<array>
		<string>cannon.png</string>
		<integer>50</integer>
		<integer>2</integer>
		<integer>500</integer>
	</array>
	<key>601</key>
	<array>
		<string>bee_1.png</string>
		<integer>50</integer>
		<integer>2</integer>
		<integer>600</integer>
	</array>
	<key>602</key>
	<array>
		<string>blueBee_1.png</string>
		<integer>50</integer>
		<integer>2</integer>
		<integer>600</integer>
	</array>
	<key>603</key>
	<array>
		<string>Bear_walk/Bearwalk_1.png</string>
		<integer>50</integer>
		<integer>2</integer>
		<integer>600</integer>
	</array>
	<key>604</key>
	<array>
		<string>Birdflying_1.png</string>
		<integer>50</integer>
		<integer>2</integer>
		<integer>600</integer>
	</array>
	<key>605</key>
	<array>
		<string>turtlewalk_1.png</string>
		<integer>50</integer>
		<integer>2</integer>
		<integer>600</integer>
	</array>
	<key>701</key>
	<array>
		<string>5trampolines.png</string>
		<integer>50</integer>
		<integer>2</integer>
		<integer>700</integer>
	</array>
	<key>702</key>
	<array>
		<string>tramStickBonus.png</string>
		<integer>50</integer>
		<integer>2</integer>
		<integer>700</integer>
	</array>
	<key>703</key>
	<array>
		<string>purpleBonus.png</string>
		<integer>50</integer>
		<integer>2</integer>
		<integer>700</integer>
	</array>
	<key>704</key>
	<array>
		<string>shieldPowerup.png</string>
		<integer>50</integer>
		<integer>2</integer>
		<integer>700</integer>
	</array>
	<key>705</key>
	<array>
		<string>bombPowerup.png</string>
		<integer>50</integer>
		<integer>2</integer>
		<integer>700</integer>
	</array>
	<key>801</key>
	<array>
		<string>boulder.png</string>
		<integer>50</integer>
		<integer>3</integer>
		<integer>800</integer>
		<integer>1</integer>
	</array>
	<key>802</key>
	<array>
		<string>boulder2.png</string>
		<integer>50</integer>
		<integer>3</integer>
		<integer>800</integer>
		<integer>1</integer>
	</array>
	<key>1001</key>
	<array>
		<string>airductFloor.png</string>
		<integer>50</integer>
		<integer>3</integer>
		<integer>1000</integer>
	</array>
	<key>1002</key>
	<array>
		<string>airductSide.png</string>
		<integer>50</integer>
		<integer>3</integer>
		<integer>1000</integer>
	</array>
	<key>1101</key>
	<array>
		<string>gun_full.png</string>
		<integer>50</integer>
		<integer>2</integer>
		<integer>1100</integer>
	</array>
	<key>1401</key>
	<array>
		<string>tutorial_0.png</string>
		<integer>50</integer>
		<integer>3</integer>
		<integer>1400</integer>
	</array>
	<key>1501</key>
	<array>
		<string>statue.png</string>
		<integer>20</integer>
		<integer>3</integer>
		<integer>1500</integer>
		<integer>4</integer>
	</array>
</dict>
</plist>
