<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,202},{7,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,34}}</string>
                <key>sourceSize</key>
                <string>{7,34}</string>
            </dict>
            <key>coinui.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{160,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{160,54}}</string>
                <key>sourceSize</key>
                <string>{188,54}</string>
            </dict>
            <key>livesui.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{110,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{110,54}}</string>
                <key>sourceSize</key>
                <string>{134,54}</string>
            </dict>
            <key>meter_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{317,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,54}}</string>
                <key>sourceSize</key>
                <string>{317,54}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{71,70}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,39},{71,70}}</string>
                <key>sourceSize</key>
                <string>{343,152}</string>
            </dict>
            <key>pause_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,70}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,39},{71,70}}</string>
                <key>sourceSize</key>
                <string>{343,152}</string>
            </dict>
            <key>scoreui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{112,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{112,42}}</string>
                <key>sourceSize</key>
                <string>{134,54}</string>
            </dict>
            <key>timeui.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{110,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{110,54}}</string>
                <key>sourceSize</key>
                <string>{134,54}</string>
            </dict>
            <key>trampolineui.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,58},{110,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{110,54}}</string>
                <key>sourceSize</key>
                <string>{134,54}</string>
            </dict>
            <key>trampolineui_both.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,58},{106,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{106,54}}</string>
                <key>sourceSize</key>
                <string>{134,54}</string>
            </dict>
            <key>trampolineui_sticky.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,58},{106,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{106,54}}</string>
                <key>sourceSize</key>
                <string>{134,54}</string>
            </dict>
            <key>trampolineui_super.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,58},{106,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{106,54}}</string>
                <key>sourceSize</key>
                <string>{134,54}</string>
            </dict>
            <key>ui_bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,202},{28,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{28,36}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIAtl-hd.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f42456fa9518e9ad1c0410447e34e080:cfba7f3ba4ed4cbba3015b177196f5d7:aac14a09da4dc9bbb6b448a0d2d691d8$</string>
            <key>textureFileName</key>
            <string>UIAtl-hd.png</string>
        </dict>
    </dict>
</plist>
