<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,107},{4,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,17}}</string>
                <key>sourceSize</key>
                <string>{4,17}</string>
            </dict>
            <key>coinui.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{80,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{80,27}}</string>
                <key>sourceSize</key>
                <string>{94,27}</string>
            </dict>
            <key>livesui.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{55,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{55,27}}</string>
                <key>sourceSize</key>
                <string>{67,27}</string>
            </dict>
            <key>meter_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{159,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,27}}</string>
                <key>sourceSize</key>
                <string>{159,27}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{36,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,19},{36,36}}</string>
                <key>sourceSize</key>
                <string>{172,76}</string>
            </dict>
            <key>pause_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,19},{36,36}}</string>
                <key>sourceSize</key>
                <string>{172,76}</string>
            </dict>
            <key>scoreui.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,60},{55,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{55,21}}</string>
                <key>sourceSize</key>
                <string>{67,27}</string>
            </dict>
            <key>timeui.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{55,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{55,27}}</string>
                <key>sourceSize</key>
                <string>{67,27}</string>
            </dict>
            <key>trampolineui.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,31},{55,27}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{55,27}}</string>
                <key>sourceSize</key>
                <string>{67,27}</string>
            </dict>
            <key>trampolineui_both.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,83},{53,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{53,27}}</string>
                <key>sourceSize</key>
                <string>{67,27}</string>
            </dict>
            <key>trampolineui_sticky.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,31},{53,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{53,27}}</string>
                <key>sourceSize</key>
                <string>{67,27}</string>
            </dict>
            <key>trampolineui_super.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,31},{53,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{53,27}}</string>
                <key>sourceSize</key>
                <string>{67,27}</string>
            </dict>
            <key>ui_bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{14,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{14,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIAtl.png</string>
            <key>size</key>
            <string>{256,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f42456fa9518e9ad1c0410447e34e080:cfba7f3ba4ed4cbba3015b177196f5d7:aac14a09da4dc9bbb6b448a0d2d691d8$</string>
            <key>textureFileName</key>
            <string>UIAtl.png</string>
        </dict>
    </dict>
</plist>
