<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,2},{14,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,68}}</string>
                <key>sourceSize</key>
                <string>{14,68}</string>
            </dict>
            <key>coinui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{320,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{320,108}}</string>
                <key>sourceSize</key>
                <string>{376,108}</string>
            </dict>
            <key>livesui.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,76},{211,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{211,107}}</string>
                <key>sourceSize</key>
                <string>{267,107}</string>
            </dict>
            <key>meter_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{634,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{634,108}}</string>
                <key>sourceSize</key>
                <string>{634,108}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{134,133}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,82},{134,133}}</string>
                <key>sourceSize</key>
                <string>{688,305}</string>
            </dict>
            <key>pause_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,133}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,82},{134,133}}</string>
                <key>sourceSize</key>
                <string>{688,305}</string>
            </dict>
            <key>scoreui.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{217,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,16},{217,73}}</string>
                <key>sourceSize</key>
                <string>{267,107}</string>
            </dict>
            <key>timeui.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,295},{211,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{211,107}}</string>
                <key>sourceSize</key>
                <string>{267,107}</string>
            </dict>
            <key>trampolineui.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,186},{211,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{211,107}}</string>
                <key>sourceSize</key>
                <string>{267,107}</string>
            </dict>
            <key>trampolineui_both.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,77},{211,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{211,107}}</string>
                <key>sourceSize</key>
                <string>{267,107}</string>
            </dict>
            <key>trampolineui_sticky.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,382},{211,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{211,107}}</string>
                <key>sourceSize</key>
                <string>{267,107}</string>
            </dict>
            <key>trampolineui_super.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,382},{211,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{211,107}}</string>
                <key>sourceSize</key>
                <string>{267,107}</string>
            </dict>
            <key>ui_bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{58,72}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{58,72}}</string>
                <key>sourceSize</key>
                <string>{64,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIAtl-ipadhd.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd4eda6b32753c55ba37c8856f3ecd59:bf990ba9b23426f95ed477f134ed0363:643e5cf8eac8a42661071843c4dc17da$</string>
            <key>textureFileName</key>
            <string>UIAtl-ipadhd.png</string>
        </dict>
    </dict>
</plist>
